    <!-- side bar For Filtration -->
        <!-- filter Department -->
        <div class="col-md-12 col-sm col-4 m-0 px-0 py-1 row align-content-start">
            <p class="font-amazon-bold col-12">Department</p>
            <ul class="custom-control custom-checkbox col-12">
                <li>
                    <input type="checkbox" class="custom-control-input" id="dep1">
                    <label class="custom-control-label " for="dep1" >
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Department1</p>
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="custom-control-input" id="dep2">
                    <label class=" custom-control-label " for="dep2" >
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Department2</p>
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="custom-control-input" id="dep3">
                    <label class="custom-control-label " for="dep3" >
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Department3</p>
                    </label>
                </li>
            </ul>
        </div>
    
        <!-- filter brand -->
        <div class="col-md-12 col-sm col-4 m-0 px-0 py-1 row align-content-start">
            <p class="font-amazon-bold col-12">Brand</p>
            <ul class="custom-control custom-checkbox col-12">
                <li>
                    <input type="checkbox" class="custom-control-input" id="brand1">
                    <label class="custom-control-label " for="brand1" onclick="makebold(this,event)">
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Brand1</p>
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="custom-control-input" id="brand2">
                    <label class=" custom-control-label " for="brand2" onclick="makebold(this,event)">
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Brand2</p>
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="custom-control-input" id="brand3">
                    <label class="custom-control-label " for="brand3" onclick="makebold(this,event)">
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Brand3</p>
                    </label>
                </li>
            </ul>
        </div>
        <!-- filter Deliver State -->
        <div class="col-md-12 col-sm col-4 m-0 px-0 py-1 row align-content-start">
            <p class="font-amazon-bold col-12">Deliever State</p>
            <ul class="custom-control custom-checkbox col-12">
                <li>
                    <input type="checkbox" class="custom-control-input" id="delievered">
                    <label class="custom-control-label " for="delievered" onclick="makebold(this,event)">
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Delievered</p>
                    </label>
                </li>
                <li>
                    <input type="checkbox" class="custom-control-input" id="cancelled">
                    <label class=" custom-control-label " for="cancelled" onclick="makebold(this,event)">
                        <p class="font-amazon-normal pt-1 myid hover-txt-orange" data-value=0>Cancelled</p>
                    </label>
                </li>

            </ul>
        </div>
            <!-- filter Price -->
            <div class="col-md-12 col-sm col-6 m-0 px-0 py-1 align-content-start">
              <p class="font-amazon-bold py-2">Price</p>
              <ul>
                  <li class="d-flex flex-column ">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text px-1 font-amazon-bold font-1"
                                  id="basic-addon1 ">$</span>
                          </div>
                          <input type="text" class="form-control font-amazon-normal font-1" placeholder="min"
                              aria-label="min" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text px-1 font-amazon-bold font-1"
                                  id="basic-addon1">$</span>
                          </div>
                          <input type="text" class="form-control font-amazon-normal font-1" placeholder="max"
                              aria-label="max" aria-describedby="basic-addon1">
                      </div>
                      <div class="">
                          <button type="button"
                              class="btn btn-outline-secondary px-1  font-amazon-bold font-1">Go</button>
                      </div>

                  </li>
              </ul>
          </div>
          <!-- filter avg rate -->
          <div class="col-md-12 col-sm col-6 text-center px-0 py-1 d-flex flex-column justify-content-center ">
            
              <p class="font-amazon-bold py-1">Minimum Average Rate</p>
              <ul>
                  <li class="text-warning p-2" onclick="filterRate(this,event)">
                      <!-- <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i> -->
                      <!-- <i class="fas fa-star-half"></i> -->
                      <!-- <i class="far fa-star-half"></i> -->
                      <i class="far fa-star " data-value=0></i>
                      <i class="far fa-star" data-value=1></i>
                      <i class="far fa-star" data-value=2></i>
                      <i class="far fa-star" data-value=3></i>
                      <i class="far fa-star" data-value=4></i>
                      <!-- <i class="fas fa-star-half-alt"></i> -->
                  </li>
              </ul>
           
            </div>