<div class="big-pic">
    <div class="row  mx-0  ">
        <!-- start the main cart menu items -->
        <div class="col-12 col-sm-7 col-md-8 bg-white px-0">
            <!-- main menu header -->
            <div class="container">
                <h1>{{'cart.shoppingCart' | translate}}</h1>
                <a (click)="deSelectAll()">{{'cart.deselectAll' | translate}}</a>
            </div>
            <!-- single cart item -->
            <ng-container *ngFor="let product of cartItems" id="PRODUCT">
                <div class="row  mx-0 my-4">
                    <div class="col-auto border-right border-gray" id="menu-check">
                        <input class="checkbox-size" type="checkbox" [disabled]="!product.valid" [checked]="product.checked "
                         (click)="checkBtnCheckEvent(product)"   aria-label="Checkbox for following text input">
                    </div>
                    <div class="col  text-center overflow-hidden">
                        <img  class="img-fluid "src={{product.product.image}}>
                    </div>
                    <div class="col-lg-8 col-md-6  col-12">
                        <a class="cart-title" [routerLink]="['/departments/product/'+product.product.id]"
                            routerLinkActive="router-link-active">{{product.product.name}}</a>
                        <br>
                        <span class="status">{{'cart.inStock' | translate}}</span>
                        <span class="status">{{product.product.quantity}}</span>
                        <p class="text-danger" [class.d-none]="product.valid" >not valid</p>
                        <br>
                        <div class="gift-mark">
                            <input type="checkbox"  style="margin-inline-end: 7px;">
                            <label>{{'cart.thisIsGift' | translate}} <a href="#">{{'cart.learnMore' |
                                    translate}}</a></label>
                        </div>
                        <div class="cart-info mt-2">
                            <div class="cart-info-item  border-right">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle p-2" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        {{'cart.qty' | translate}}: <span id="drop-val">{{product.orderCount}}</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" value="0" (click)="changeItemCount(product,0)">0
                                            ({{'cart.delete' | translate}})</a>
                                        <a class="dropdown-item" value="1" (click)="changeItemCount(product,1)">1</a>
                                        <a class="dropdown-item" value="2" (click)="changeItemCount(product,2)">2</a>
                                        <a class="dropdown-item" value="3" (click)="changeItemCount(product,3)">3</a>
                                        <a class="dropdown-item" value="4" (click)="changeItemCount(product,4)">4</a>
                                        <a class="dropdown-item" value="5" (click)="changeItemCount(product,5)">5</a>
                                        <a class="dropdown-item" value="6" (click)="changeItemCount(product,6)">6</a>
                                        <a class="dropdown-item" value="7" (click)="changeItemCount(product,7)">7</a>
                                        <a class="dropdown-item" value="8" (click)="changeItemCount(product,8)">8</a>
                                        <a class="dropdown-item" value="9" (click)="changeItemCount(product,9)">9</a>
                                        <a class="dropdown-item" value="10" (click)="changeItemCount(product,10)">10</a>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-info-item mx-1 border-right">
                                <a href="javascript:void(0);" (click)="deleteItem(product)">{{'cart.delete' |
                                    translate}}</a>
                            </div>
                            <div class="cart-info-item mx-1 border-right">
                                <a href="javascript:void(0);" (click)="saveLater(product)">{{'cart.saveForLater' |
                                    translate}}</a>
                            </div>
                            <div class="cart-info-item mx-1">
                                <a href="#">{{'cart.compareWithSimilarItems' | translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto h5 border-left  border-gray">
                        <p id="price-title"><span class="h6">{{'department.price' | translate}}</span></p>
                        $<span name="price-tag">{{product.netPrice*product.orderCount| number: '1.0-0'}}</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="cartItems.length == 0">
                <div class="text-center">
                    <h1>{{'cart.noItems' | translate}}!</h1>
                </div>
            </ng-container>
            <hr>
            <!-- total price -->
            <div id="main-total-price">
                $<span class="p-3" name="total-price-tag">{{totalPrice | number: '1.0-0'}}</span>
            </div>
        </div>
        <!-- end main menu -->

        <!-- start right menu -->
        <!-- d-none d-sm-block -->
        <div class="col-12 col-sm-5 col-md-4 ">
            <div class="row m-0   align-content-between">
                <!-- subtotal menu box -->
                <div class="col-12  mb-1 mx-0 p-2 bg-white">
                    <div class="row  justify-content-around align-content-start">
                        
                        <div class="col-12 text-center">
                            {{'department.subTotal' | translate}}(<span>{{orderedNumber }}</span> {{'cart.items' |
                            translate}}):
                            <strong>$<span name="total-price-tag">{{totalPrice | number: '1.0-0'}}</span></strong>
                        </div>
                        <div class="col-12 text-center">
                            <input type="checkbox" class="mx-2 my-1">{{'cart.giftOrder' | translate}}
                        </div>
                        <div  class="col-12 text-center">
                            <button type="button" class="btn btn-warning px-3 my-3" (click)="proceedToCheckout()"
                                [disabled]="orderedNumber == 0">{{'cart.proceedToCheckout' | translate}}</button>
                        </div>
                    </div>
                </div>
                <!-- recommendation card box -->
                <div class="col-12 mt-1  mx-0 ">
                    <div class="row card">
                    <div class="card-body w-100">
                        <h5 class="card-title">
                            {{'cart.relatedItems' | translate}}
                        </h5>
                        <!-- single recom-item div -->
                        <div>
                            <img class="img-fluid m-auto" src="assets/images/bluelightglasses.jpeg">
                            <div class="mx-1 text-center">
                                <a href="#">BlueLight Blocking</a>
                                <!-- start Rating bar code -->
                                <div class="rating mx-0 ">
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                    <span>12,324</span>
                                </div>
                                <span class="recom-price">$19.99</span><br>
                                <button class="btn btn-light border" type="button">
                                    <span style="font-size: 10px;">{{'cart.seeAllOptions' | translate}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
        <!-- end side menu -->
    </div>
    <!-- my prev. items history page -->
    <div class="row m-3">
        <div class="col-12 bg-white p-3">
            <div class="container">
                <h1>{{'cart.yourItems' | translate}}</h1>
                <!-- Dispaly page -->
            </div>
        </div>
        <small class="col-12 mt-3 px-0">
            {{'cart.amazonNote' | translate}} <a href="#"> {{'cart.learnMore' | translate}}</a>
            <br>
            {{'cart.askForPromo' | translate}}
        </small>
    </div>
</div>