
<div class="row alert alert-secondary">
  <div class="col"><span>Total Brands</span></div>
  <div class="col-8  text-right"><span>8</span></div>
</div>
<div class="row alert alert-secondary">
  <div class="col"><span>Total Categories</span></div>
  <div class="col-8  text-right"><span>7</span></div>
</div>
<div class="row alert alert-secondary">
  <div class="col"><span>Total Products</span></div>
  <div class="col-8  text-right  text-right"><span>200</span></div>
</div>
<div class="row alert alert-secondary">
  <div class="col"><span>Total Product Value</span></div>
  <div class="col-8  text-right"><span>50,000</span></div>
</div>
<div class="row alert alert-secondary">
  <div class="col"><span>Total Earings</span></div>
  <div class="col-8  text-right"><span>10,000</span></div>
</div>
<div class="row alert alert-secondary">
  <div class="col"><span>Total users</span></div>
  <div class="col-8  text-right"><span>15</span></div>
</div>

<!-- <table class="table font-amazon-normal table-hover min-content">
  <thead class="font-amazon-bold thead-dark text-capitalize">
      <tr>
          <th scope="col">serial </th>
          <th scope="col"> Total Brands </th>
          <th scope="col"> Total Categories </th>
          <th scope="col"> Total Products</th>
          <th scope="col"> Total Product Value</th>
          <th scope="col"> Total Earings</th>
      </tr>

  </thead>
</table>
<div class="height-45 overflow-auto">
<table class="table font-amazon-normal table-hover min-content">
  <tbody>

    -- row1 --
      <tr (click)="navToOrder(cat)" *ngFor ="let cat of adminCategories ; index as sn;  ">
          <th class="font-amazon-normal align-middle" scope="row">{{sn+1}}</th>
          <td class="align-middle">{{cat.categoty.name}}</td>
      </tr>
  </tbody>
</table>
</div> -->