  // side bar
  .side-bar-container{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 30;
  }
  .side-bar{
    width: 70vw;
    overflow: auto;
  }

  @media only screen and (min-width: 576px) {
    .side-bar {
      width: 50vw;
    }
  }
  @media only screen and (min-width: 768px) {
    .side-bar {
      width: 30vw;
    }
  }
  #sideBar{
    display: none;
  }
  
  .side-bar-bg{
    left: 0;
    top: 0;
    z-index: 30;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: fixed;
  }
  .side-nav-bg{
    background-color: #232F3E;
  }