/* You can add global styles to this file, and also import other style files */
*{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    border: 1px solid rgb(201, 200, 200);
}
@media (max-width: 767px) {
    .formR{
        margin: 0 5%;
        }
    }