

<div class="container-fluid">
  <div class="row">
    <div class=" col-xs-12 col-sm-5 col-lg-4 col-md-5">
      <div class="mainphoto">
        <img src="{{prd?.image}}" alt="Snow" style="width:100%;">
        <div class="top-left">Sale</div>
      </div>
    </div>
     <div class="col">
        <div class="product-name">
          <h1>{{prd?.name}}</h1>
        </div>
        <div class="price-box">
          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> {{prd?.price |currency}} </span> </p>
          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $359.99 </span> </p>
        </div>
        <div class="avaliable">
          <div class="rating special-price"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
          <p class="availability in-stock pull-right  special-price av"> {{ 'PRODUCT.avaliable' | translate }}Availability: <span>In Stock</span></p>
        </div>

        <div class="short-description" >
          <!-- <h2 translate>product.overview</h2> -->
          <h2 >product.overview</h2>

          <p>
          {{prd?.description}}
          </p>
        </div>
        <div class="product-color-size-area">
          <div class="color-area">
            <h2 class="saider-bar-title">Color</h2>
              <select class="form-control" (change)="onChange($event.target)" [ngStyle]="{'background-color':selectedColor}">
                <option class="i" *ngFor="let color of colors" [value]="color?.value" [ngStyle]="{'background-color':color.value}">
                  {{color.name}}</option>
              </select>

          </div>
          <div class="size-area">
            <h2 class="saider-bar-title"> {{ 'PRODUCT.size' | translate }}Size</h2>
            <div class="size">
            <p>{{prd?.size}}</p>
            </div>
          </div>
        </div>
        <div class="product-variation">
          <form action="#" method="post">
            <div class="cart-plus-minus">
              <label for="qty"> {{ 'PRODUCT.quantity' | translate }}Quantity:</label>
              <div class="numbers-row">
               <p class="quantity">{{prd?.quantity}}</p>
              </div>
            </div>
            <button (click)="addtoCart()" class="button pro-add-to-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-basket"></i> {{ 'PRODUCT.addtocart' | translate }} Add to Cart</span></button>
          </form>
        </div>
        <div class="product-cart-option">
          <ul>
            <li><i class="fa fa-heart-o"></i><span> {{ 'PRODUCT.wish' | translate }}Add to Wishlist</span></li>
            <li><i class="fa fa-link"></i><span> {{ 'PRODUCT.compare' | translate }}Add to Compare</span></li>
            <li><a href="#"><i class="fa fa-envelope"></i><span>{{ 'PRODUCT.email' | translate }} Email to a Friend</span></a></li>
          </ul>
        </div>

        <div class="share-box">
          <div class="titlee"> {{ 'PRODUCT.share' | translate }}Share in social media</div>
          <div class="socials-box"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> </div>
        </div>

        </div>
      </div>
      <br>
</div>
