<div class="container ">
    <div class="col-sm-12">
        <div class="d-flex justify-content-center">
            <img src="../../../../../assets/Amazon-Logo.png" style="width:150px">

        </div>
        <div class="row justify-content-center formR">
            <form [formGroup]="loginFrm" (ngSubmit)="login()" class="col-md-6 col-lg-5 col-sm-10 p-sm-5 p-4 m-auto  " >
                <p class="h1 text-center">{{ 'signUp.createAccount' | translate }}</p>
                <div class="form-group">
                    <label class="my-2" for="name">{{ 'signUp.yourName' | translate }}</label>
                    <input  formControlName="name" required type="text" class="form-control" name="name"
                    [class.is-invalid]="loginFrm.controls['name'].invalid&&loginFrm.controls['name'].dirty"
                    [class.is-valid]="loginFrm.controls['name'].valid&&loginFrm.controls['name'].dirty" />

                </div>
                <div class="form-group">
                    <label class="my-2" for="email">{{ 'signUp.email' | translate }}</label>
                    <input formControlName="username" required type="Email" class="form-control" name="Email"
                    [class.is-invalid]="loginFrm.controls['username'].invalid&&loginFrm.controls['username'].dirty"
                    [class.is-valid]="loginFrm.controls['username'].valid&&loginFrm.controls['username'].dirty" />

                </div>
                <div class="form-group">
                    <label class="my-2" for="pwd">{{ 'signUp.password' | translate }}</label>
                    <input formControlName="password" type="password" required class="form-control" placeholder="{{ 'signUp.atLeast' | translate }}"name="pswd"
                        [class.is-invalid]="loginFrm.controls['password'].invalid&&loginFrm.controls['password'].dirty"
                        [class.is-valid]="loginFrm.controls['password'].valid&&loginFrm.controls['password'].dirty" />
    
                </div>
                <div class="form-group">
                    <label class="my-2" for="pwd">{{ 'signUp.RePassword' | translate }}</label>
                    <input formControlName="repassword" type="password" required class="form-control" id="rePwd" name="rePwd"
                    [class.is-invalid]="(loginFrm.controls['repassword'].invalid||(loginFrm.errors?true:false)) && loginFrm.controls['repassword'].dirty"
                    [class.is-valid]="loginFrm.controls['repassword'].valid&&loginFrm.controls['repassword'].dirty&&!loginFrm.errors"
                    />
                    <p class="text-right" [hidden]="loginFrm.controls['repassword'].pristine || loginFrm.errors?false:true">
                        <small  class="text-muted font-0 ">{{ 'signUp.pwdMatch' | translate }}</small>
                    </p>
                </div>
                <div class="form-group form-check">

                </div>
                <button [disabled]="loginFrm.invalid"  type="submit" class="btn btn-warning" style="width: 100%;">{{ 'signUp.createAcc' | translate }}</button>
                <p class="my-2">{{ 'signUp.useRules' | translate }}<a href=""> {{ 'signUp.useRulesLink' | translate }}</a>
                   </p>
                <hr>
                <p>{{ 'signUp.haveAcc' | translate }} <a  [routerLink]="['/auth/signin']">{{ 'signUp.signInLink' | translate }}</a> </p>
            </form>
        </div>
    </div>
</div>
