<div class="container ">
    <div class="col-sm-12">
        <div class="d-flex justify-content-center">
            <img src="../../../../../assets/Amazon-Logo.png" style="width:150px">

        </div>
        <div class="d-flex justify-content-center">
            <form [formGroup]="loginFrm" (ngSubmit)="login()" class="p-5 m-auto " style="width: 40%;">
                <p class="h1">Create account</p>
                <div class="form-group">
                    <label class="my-2" for="name">Your name</label>
                    <input  formControlName="name" required type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label class="my-2" for="email">Email</label>
                    <input formControlName="username" required type="Email" class="form-control" name="Email">
                </div>
                <div class="form-group">
                    <label class="my-2" for="pwd">Password</label>
                    <input formControlName="Password" type="password" required class="form-control" placeholder="At least 8 character"
                        name="pswd">
                </div>
                <div class="form-group">
                    <label class="my-2" for="pwd">Re-enter password</label>
                    <input formControlName="rePassword" type="password" required class="form-control" id="rePwd" name="rePwd">
                </div>
                <div class="form-group form-check">

                </div>
                <button [disabled]="loginFrm.invalid"  type="submit" class="btn btn-warning" style="width: 100%;">Create your amazon
                    account </button>
                <p class="my-2">By creating an account, you agree to Amazon's <a href="#">Conditions of Use </a>
                    Conditions of Use and <a href="#">Privacy Notice.</a> </p>
                <hr>
                <p>Already have an account? <a href="#" [routerLink]="['/SignIn']">Sign-In</a> </p>
            </form>
        </div>
    </div>
</div>
