    /* // img in items Container */

    
      .test{
        height: 300px;
        max-width: none;
    }
    .test-container{
      overflow: hidden;
    }

    .z-index-0{
      z-index: -1;
    }