<p>home-body works!</p>
 
<!-- carousel -->
<app-carousel></app-carousel>
<!-- home-body -->
<!-- items container -->
 <!-- <div class="container position-relative item-container mx-0  "> -->
    <div class="container   ">
        <!-- row -->
        <div class="row mx-0 ">
          <!-- col -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
            <div class="bg-white p-2 ">
              <p class="h5 font-amazon-bold">Recently Viewed</p>
              <div class="imgContainer d-flex align-items-center ">
                <div class=" p-2 ">
                <img src="images/dep/item-01.jpg" class="home-item-img">
              </div>
              </div>
              <a class="font-0 text-info  py-1 font-amazon-normal">Shop now</a>
            </div>
    
          </div>
      
          <!-- col -->
          <!-- modified to be a link -->
          <div class="col-lg-3 col-md-4 col-sm-6 p-2" >
            <div class="bg-white p-2">
              <p class="h5 font-amazon-bold">Shop top categories</p>
              <div class="imgContainer">
                <a class="d-block" href="all-categories.html">
                  <img src="images/dep/04.jpg" class="imgContainer">
                </a>
              </div>
              <a class="font-0 text-info  py-1 font-amazon-normal">Shop now</a>
            </div>
          </div>
        </div>
      </div>