<!-- carousel -->
<app-carousel></app-carousel>
<!-- home-body -->
<!-- items container -->
<!-- <div class="container position-relative item-container mx-0  "> -->
<div class="container-fluid home-body-bg">
  <!-- row -->

  <div class="row   ">
    <!-- col -->
    <ng-container *ngFor="let item of listElements">
     
      <div class="col-lg-3 col-md-4 col-sm-6 row m-0 p-2 ">
        <div class="bg-white p-2 col row m-0 ">
          <!-- [ngClass]="{'text-right':{{'direction'| translate}} ==='rtl'}" -->
          <p class="col-12 h5 font-amazon-bold">{{ item.title | translate }}</p>
          <div class="cursor-pointer col-12 px-0 " [routerLink]="[item.link]">
            <a class="d-flex p-2 img-home-container justify-content-center align-items-start">
              <img [src]="item.url" class=" img-fluid img-home ">
            </a>
          </div>
          <a [routerLink]="[item.link]" routerLinkActive="router-link-active"  class="font-0 text-info align-self-end  py-1 font-amazon-normal">{{'home.shopNow'|translate}}</a>
        </div>
      </div>
    </ng-container>

  </div>
</div>