<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-sm-12 p-0">
            <div class="row mt-4 w-100 mx-0">
                <!-- left side menu for filtering -->
                <div class="col-2 left-menu">
                    <div id="department" class="mb-3">
                        <strong><span>{{'department.sideMenuHeader' | translate}}</span></strong><br>
                        <div class="ml-3 mb-3 links">
                    <a [routerLink]="['/departments/0']" routerLinkActive="router-link-active" >
                        <span>{{'department.sectionOne' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']" >
                        <span>{{'department.menuDep1' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep2' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep3' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep4' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep5' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep6' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep7' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep8' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep9' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep10' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep11' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep12' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep13' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep14' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep15' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep16' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep17' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep18' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep19' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep20' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep21' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep22' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep23' | translate}}</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>{{'department.menuDep24' | translate}}</span></a><br>
                        </div>
                        <strong><span class="mt-4">{{'department.sideMenuHeader' | translate}}</span></strong><br>
                        <strong><span class=" mx-3">{{'department.menuSubTitle' | translate}}</span></strong><br>
                        <strong><span class="mt-4">{{'department.sectionThree' | translate}}</span></strong><br>   
                    </div>
                </div>
                <!-- main center menu -->
                <div class="col-10">
                    <a href="#">
                        <img src="assets/images/cat-head1.jpg" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="assets/images/cat-head2.jpg" class="img-fluid mt-4">
                    </a>
                    <ng-container *ngFor="let cat of catList">
                        <img *ngIf="cat.title=='Set The Table'" class="img-fluid" src="assets/images/cat-head3.jpg">
                        <section class="my-2">
                            <h2 class="title my-2"><strong>{{cat.title}}</strong></h2>
                            <div class="row py-4">
                                <ng-container *ngFor ="let item of cat.data">
                                    <div class="col-3 sec-details">
                                        <a [routerLink]="'/departments/'+item.name">
                                            <img class="img-fluid" src={{item.image}}> 
                                        </a>
                                        <div class="sub-title px-2">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </section>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="currentUser" class="col-1 sticky-top d-sm-none d-md-block" id="side-menu">
            <span>{{'department.subTotal' | translate}}</span><br>
            <strong class="price-tag">$<span>{{totalPrice}}</span></strong>
            <div class="cart-items w-90 mt-3">
                <ng-container *ngFor ="let item of cartItems">
                    <div>
                        <a routerLink="/cart">
                            <img class="img-fluid mt-4" src={{item.image}}>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
