<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-sm-12 p-0">
            <div class="row mt-4 w-100 mx-0">
                <!-- left side menu for filtering -->
                <div class="col-2 left-menu">
                    <div id="department" class="mb-3">
                        <strong><span>Departments</span></strong><br>
                        <div class="ml-3 mb-3 links">
                    <a [routerLink]="['/departments/0']" routerLinkActive="router-link-active" ><span>Deals</span></a><br>
                    <a [routerLink]="['/departments/0']" ><span>Amazon International Shopping</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Arts & Crafts</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Automotive</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Baby</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Beauty & Personal Care</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Books</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Computers</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Electronics</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Women's Fashion</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Men's Fashion</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Girls' Fashion</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Boys' Fashion</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Health & Household</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Home & Kitchen</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Industrial & Scientific</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Luggage</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Movies & Television</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Music, CDs & Vinyl</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Pet Supplies</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Software</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Sports & Outdoors</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Tools & Home Improvement</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Toys & Games</span></a><br>
                    <a [routerLink]="['/departments/0']"><span>Video Games</span></a><br>
                        </div>
                        <strong><span class="mt-4">Departments</span></strong><br>
                        <strong><span class=" ml-3">International Shopping Top</span></strong><br>
                        <strong><span class="mt-4">Categories</span></strong><br>   
                    </div>
                </div>
                <!-- main center menu -->
                <div class="col-10">
                    <a href="#">
                        <img src="assets/images/cat-head1.jpg" class="img-fluid">
                    </a>
                    <a href="#">
                        <img src="assets/images/cat-head2.jpg" class="img-fluid mt-4">
                    </a>
                    <ng-container *ngFor="let cat of catList">
                        <img *ngIf="cat.title=='Set The Table'" class="img-fluid" src="assets/images/cat-head3.jpg">
                        <section class="my-2">
                            <h2 class="title my-2"><strong>{{cat.title}}</strong></h2>
                            <div class="row py-4">
                                <ng-container *ngFor ="let item of cat.data">
                                    <div class="col-3 sec-details">
                                        <a [routerLink]="'/departments/'+item.name">
                                            <img class="img-fluid" src={{item.image}}> 
                                        </a>
                                        <div class="sub-title px-2">
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </section>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="currentUser" class="col-1 sticky-top d-sm-none d-md-block" id="side-menu">
            <span> Subtotal</span><br>
            <strong class="price-tag">$<span>{{totalPrice}}</span></strong>
            <div class="cart-items w-90 mt-3">
                <ng-container *ngFor ="let item of cartItems">
                    <div>
                        <a routerLink="/cart">
                            <img class="img-fluid mt-4" src={{item.image}}>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
