<!--Customers tabs -->

    <ul class="nav nav-tabs font-amazon-bold " id="myTab" role="tablist">
      <li class="nav-item " role="presentation">
        <a class="nav-link active px-1" id="customerDet-tab" data-toggle="tab" href="#customerDet" role="tab" aria-controls="home" aria-selected="true">Details</a>
      </li>
      <li class="nav-item " role="presentation">
        <a class="nav-link px-1" id="customerSumm-tab" data-toggle="tab" href="#customerSumm" role="tab" aria-controls="profile" aria-selected="false">Summary</a>
      </li>
      <li class="nav-item " role="presentation">
        <a class="nav-link px-1" id="customerExp-tab" data-toggle="tab" href="#customerExp" role="tab" aria-controls="contact" aria-selected="false">Expected</a>
      </li>
    </ul>