
<ul class="nav nav-tabs font-amazon-bold " id="myTab" role="tablist">
    <li class="nav-item " role="presentation">
      <a class="nav-link active px-1" id="orderDet-tab" data-toggle="tab" href="#orderDet" role="tab" aria-controls="home" aria-selected="true">Details</a>
    </li>
    <li class="nav-item " role="presentation">
      <a class="nav-link px-1" id="orderSumm-tab" data-toggle="tab" href="#orderSumm" role="tab" aria-controls="profile" aria-selected="false">Summary</a>
    </li>
    <li class="nav-item " role="presentation">
      <a class="nav-link px-1" id="orderExp-tab" data-toggle="tab" href="#orderExp" role="tab" aria-controls="contact" aria-selected="false">Expected</a>
    </li>
  </ul>