<table class="table font-amazon-normal table-hover min-content">
    <thead class="font-amazon-bold thead-dark text-capitalize">
        <tr>
            <th scope="col">serial </th>
            <th scope="col"> Id </th>
            <th scope="col"> Name</th>
            <th class="text-center" scope="col"> Image </th>
            <th scope="col" class="align-middle text-center" ># of Products</th>
            <!-- <th scope="col"># of Products&nbsp;<span class="fas fa-dollar-sign"></span></th> -->
        </tr>

    </thead>
    <tbody>

        <!-- row1 -->
        <tr (click)="navToOrder(brand)" *ngFor ="let brand of adminbrands ; index as sn;  ">
            <th class="font-amazon-normal align-middle" scope="row">{{sn+1}}</th>
            <td class="align-middle">{{brand.brand.id}}</td>
            <td class="align-middle">{{brand.brand.name}}</td>
            <td class="align-middle text-center"><img width="100" [src]="brand.brand.image" alt={{brand.brand.image}}></td>
            <td class="align-middle text-center">{{brand.products.length}}</td>
        </tr>
    </tbody>
</table>