<div class="card bg-light  p-0">
    <div class=" card-header d-flex">
        <div class="col-3" >

            <div><b>{{ 'orderbody.ordersPlaced' | translate }}</b></div>
            <div>{{ model.orderDate | date }}</div>
        </div>
        <div class="col-3">
            <div>
                <div><b>{{ 'orderbody.total' | translate }}</b></div>
                <div>{{ model.orderPrice | currency }}</div>
            </div>
        </div>

    </div>
    <div class="card-body info">
        <div>
            <!-- <h5 class="card-title m-0">{{ model.dueDate | date:'EEEE' }} </h5> -->
            <p class="card-text" style="color:green;"><b>{{ 'orderbody.orderStatus' | translate }}</b> : {{ getEnumName(model.status) }}  
                <!-- {{ model.deliveredDate | date:'fullDate' }}  -->
            </p>
        </div>
        <div class="d-flex p-4 ">
            <div class="col-lg-9 col-md-8 ">
                <div class="mb-3 d-flex mb-5 info" *ngFor="let product of model.products">
                    <img src={{product.image}} style="height: 150px; width: 150px;">
                    <div class="pr-des px-3">
                        <p>
                            <b class="font-weight-bold" >{{ product.name }}</b> - {{ product.description }}
                        </p>
                        <div style="color: black;">
                           <b>{{ 'orderbody.Eligablity' | translate }}</b>  <span> {{model.canCancelledUntil}}</span>
                        </div>
                        <div class="my-2" style="color: red;"> {{ product.price*((100-product.discount)/100)*product.quantity | currency}}</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 btnsAl">
                <button class="btn btn-warning mb-3 btns" style="width: 100%;"[disabled]="canTrack(model.status)" (click)="target()">{{ 'orderbody.trackPackage' | translate }}</button>

                <button class="btn btn-secondary my-1 btns" [disabled]="canCancel(model.status)"
                 (click)="open(mymodal)" style="width: 100%;">{{ 'orderbody.requestCancellation' | translate }}
                </button>
                <ng-template #mymodal let-modal>
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="modal-basic-title">{{ 'requestCancellation.requestCancellationModal' | translate }}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'requestCancellation.cancelModalBody' | translate }}</p>
                    </div>
                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-outline-dark"
                            (click)="modal.close('Save click')">{{ 'requestCancellation.cancel' | translate }}</button>
                        <a class="btn btn-outline-dark" [routerLink]="['/Orders/cancelledorders/'+ model.id]"  (click)="modal.close('Save click')">{{ 'requestCancellation.ok' | translate }}</a>
                    </div>
                </ng-template>


                <button class="btn-sm btn btn-secondary my-1 btns" style="width: 100%;">{{ 'orderbody.returnOrder' | translate }}</button>
                <button class="btn btn-secondary my-1 btns" style="width: 100%;">{{ 'orderbody.shareGift' | translate }}</button>
                <button class="btn btn-secondary my-1 btns" style="width: 100%;">{{ 'orderbody.writeReview' | translate }}</button>
                <button class="btn btn-secondary my-1 btns" style="width: 100%;">{{ 'orderbody.archiveOrder' | translate }}</button>
            </div>


        </div>

    </div>
</div>
<!-- <div class="alert alert-success my-5" role="alert" style="display: none; width: 100%;">
    <div class="d-flex align-items-center"> <i class="chkIcon fas fa-check mr-2"></i>
        <h4 class="alepxs-heading">Your order has been archived</h4>
    </div>
    <div>
        <p class="pl-4">Even thought it will no longer appear in Your orders , you can view it in Archived
            orders from Your account</p>
    </div>

</div> -->