<!-- Nav Bar -->
<nav class=" bg-nav-seller  ">
    <nav class="navbar navbar-expand-md ">
        <nav class="w-100 d-flex justify-content-between">
            <!-- nav Logo -->
            <a class="navbar-brand" [routerLink]="['/seller']"  >
                <img src="../../../../../assets/seller/amazon-us-logo.svg" style="width:80px">
            </a>
            <!-- toggler button -->
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-list-ul "></span></button>
        </nav>
        <!-- collapsive nav  -->
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav font-amazon-bold font-1 ">

              
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/seller/home']" routerLinkActive="router-link-active" >Catalog</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group ">
                        <a class="nav-link " data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" href="">Inventory</a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item font-amazon-normal" [routerLink]="['/seller/add']" routerLinkActive="router-link-active" >Add product</a>
                            <a class="dropdown-item font-amazon-normal" href="#">Sell grobally</a>
                            <a class="dropdown-item font-amazon-normal" href="#">Manage Inventory</a>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Advertising</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">StoreFront</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Performance</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>