
  .ft-bg{background-color: #232F3E; }
  .ft-head-bg{background-color:#37475A; }
  .ft-head-hover:hover{background-color: #485769;}
  .ft-tail-bg{background-color: #131A22;}
  .underline-hover:hover{text-decoration: underline;}
      
    