<app-order-nav-bar></app-order-nav-bar>

<router-outlet></router-outlet>

<!-- <div class="container">
    <h2>Gift ideas inspired by your shopping history</h2>
    <div class="row my-5">
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/4.jpg">
            <div>Samsung Electronics Wireless Charger Trio- Charge up to 3 Devices - for Galaxy Phones…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fas fa-star-half-alt"></span>
                <span class="far fa-star"></span>
            </div>
            <div>$31.99</div>
        </div>

    </div>

</div> -->