<!-- the big container that contains 2 columns (homepage & side menu) -->
<div class="container-fluid">
    <div class="row">
        <!-- nav bar starts -->
        <nav class="shadow-sm result-details  col-12  ">
            <div class="row justify-content-between ">
                <p class="col">
                    {{'department.resultCount' | translate}} <span
                        class="cat-name">"{{departmentCompModel.depName}}"</span>
                </p>

                <div class="dropdown col-auto">
                    <button class="btn btn-secondary filter-btn dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'department.sortBy' |
                        translate}}: {{'department.featured' | translate}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">{{'department.price' | translate}}: {{'department.lowToHigh' |
                            translate}}</a>
                        <a class="dropdown-item" href="#">{{'department.price' | translate}}: {{'department.highToLow' |
                            translate}}</a>
                        <a class="dropdown-item" href="#">{{'department.customerReview' | translate}}</a>
                        <a class="dropdown-item" href="#">{{'department.newArrivals' | translate}}</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- nav bar ends -->
        <!-- left side menu for filtering starts -->
        <app-department-filter [productsList]="departmentCompModel.productsList" 
        class="col-md-3 col-lg-2 col-xl-2 font-amazon-normal row mx-0 px-0 align-content-start justify-content-around
         overflow-auto"></app-department-filter>
        <!-- left side menu for filtering ends -->
        <div class="col-md-9 col-lg-10 col-xl-10 px-0">
            <!-- main page components starts-->

            <!-- main center menu -->
            <!-- department body Starts -->
            <app-department-body class=" mt-4  mx-0" [depName]="departmentCompModel.depName"
                [productsList]="departmentCompModel.productsList | paginate: { itemsPerPage: 5, currentPage: p }">
            </app-department-body>
            <!-- department body Starts -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <!-- divider -->
        <div class="w-100"></div>
        <!-- divider ends -->

        <div class="col-12">
        <!-- carousel starts -->
        <app-department-carousel [productsList]="departmentCompModel.productsList"
        [depName]="departmentCompModel.depName"
        [depName]="departmentCompModel.depName"></app-department-carousel>
        <!-- carousel ends -->
        <!-- footer starts -->
    <!-- <app-department-footer [productsList]="departmentCompModel.productsList"
        [cartItems]="departmentCompModel.cartItems" [currentUser]="departmentCompModel.currentUser"
        [totalPrice]="departmentCompModel.totalPrice" [depName]="departmentCompModel.depName">
    </app-department-footer> -->
        <!-- footer ends -->
        </div>
        <!-- <app-recommentaion-section [depName]="departmentCompModel.depName" [productsList]="departmentCompModel.productsList" ></app-recommentaion-section> -->


    </div>
</div>