<!-- all page inside container -->
<div class="container-sm container-fluid">
  <!-- logo -->
  <header class="my-4">
    <a [routerLink]="['/seller/home']"><img src="../../../../../assets/seller/amazon-serv.png" class="img-fluid"
        style="width: 150px;"></a>
  </header>
  <!-- Nav Bar -->
  <!-- nav list -->
  <nav class="bg-nav-addproduct ">
    <div class="nav nav-tabs font-amazon-bold justify-content-between justify-content-sm-start " id="nav-tab"
      role="tablist">
      <a class="nav-link active py-3 " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">{{'sellerAdd.vitalInfo'|translate}}</a>

      <a class="nav-link py-3" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">{{'sellerAdd.image'|translate}}</a>

      <a class="nav-link py-3" id="nav-profile-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-profile" aria-selected="false">{{'sellerAdd.offer'|translate}}</a>
    </div>
  </nav>



  <!-- taps content container -->
  <form [formGroup]="prodForm" class="tab-content p-1 p-md-4 font-amazon-normal" id="nav-tabContent">
    <!-- tap1 product detail -->
    <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- product tap1 first row -->
      <div class="row  ">

        <!-- brand and category  -->
        <div class=" col-12 form-group  p-2">
          <div class="alert alert-secondary row justify-content-between mx-0">
            <!-- choose  brand label-->
            <label class="col-sm-auto col-12 my-2" for="catId"><span>{{'sellerAdd.category'|translate}}</span></label>
            <!-- choose  category -->
            <div class="d-flex col ">
              <!-- <input type="text" class="form-control" id="prodId"> -->
              <select (change)="getFee()" formControlName="category" name="category" class="custom-select" id="catId"
                required
                [class.is-invalid]="prodForm.controls['category'].invalid&&prodForm.controls['category'].touched"
                [class.is-valid]="prodForm.controls['category'].valid&&prodForm.controls['category'].touched">

                <option selected disabled value="">{{'sellerAdd.selectCategory'|translate}}</option>
                <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
              </select>
            </div>

            <!-- choose  brand label-->
            <label class="col-sm-auto col-12    my-2 "
              for="brandId"><span>{{'sellerAdd.brand'|translate}}</span></label>
            <!-- choose  brand -->
            <div class="d-flex col  ">
              <select formControlName="brand" class="custom-select" name="brand" id="brandId" required
                [class.is-invalid]="prodForm.controls['brand'].invalid&&prodForm.controls['brand'].touched"
                [class.is-valid]="prodForm.controls['brand'].valid&&prodForm.controls['brand'].touched">

                <option disabled value="" selected>{{'sellerAdd.selectBrand'|translate}}</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
              </select>
            </div>
          </div>
        </div>


        <!-- product Name card-->
        <div class="col-12 col-md-6  form-group no-gutters ">
          <div class="card bg-light">
            <!-- product Name label -->
            <label class="h5 card-header " for=""><span>{{'sellerAdd.productName'|translate}}</span></label>
            <!-- en form -->
            <!-- product Name english -->
            <form formGroupName="en" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.english'|translate}}</span>
                </div>
                <input formControlName="name" type="text" class="form-control " id="prodIdar"
                  placeholder="{{'sellerAdd.productNameExample'|translate}}" autocomplete="off"
                  [class.is-invalid]="prodForm.controls['en'].get('name').invalid&&prodForm.controls['en'].get('name').dirty"
                  [class.is-valid]="prodForm.controls['en'].get('name').valid&&prodForm.controls['en'].get('name').dirty" />
              </div>
            </form>
            <!-- product name arabic -->
            <form formGroupName="ar" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.arabic'|translate}}</span>
                </div>
                <input formControlName="name" type="text" class="form-control " id="prodIden"
                  placeholder="{{'sellerAdd.productNameExample'|translate}}" autocomplete="off"
                  [class.is-invalid]="prodForm.controls['ar'].get('name').invalid&&prodForm.controls['ar'].get('name').dirty"
                  [class.is-valid]="prodForm.controls['ar'].get('name').valid&&prodForm.controls['ar'].get('name').dirty" />
              </div>
            </form>
            <!-- divider -->
            <div class="w-100 "></div>
            <!-- hint for product name -->
            <div>
              <small [hidden]="(prodForm.controls['en'].get('name').valid||prodForm.controls['en'].get('name').pristine)
                &&(prodForm.controls['ar'].get('name').valid||prodForm.controls['ar'].get('name').pristine) "
                class=" text-muted card-text  text-right font-0">{{'sellerAdd.minChar'|translate}}</small>
            </div>
          </div>
        </div>

        <!-- product description card-->
        <div class="col-12 col-md-6 form-group no-gutters  ">
          <div class="card bg-light ">
            <!-- product description label -->
            <label class="h5 card-header " for="pId"><span>{{'sellerAdd.description'|translate}}</span></label>
            <!-- product description english -->
            <form formGroupName="en" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.english'|translate}}</span>
                </div>

                <input formControlName="description" type="text" class="form-control" id="prodDesc"
                  placeholder="{{'sellerAdd.productDescriptionPlaceHolder'|translate}}" autocomplete="off"
                  [class.is-invalid]="prodForm.controls['en'].get('description').invalid&&prodForm.controls['en'].get('description').dirty"
                  [class.is-valid]="prodForm.controls['en'].get('description').valid&&prodForm.controls['en'].get('description').dirty" />
              </div>
            </form>
            <!-- product description arabic -->
            <form formGroupName="ar" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.arabic'|translate}}</span>
                </div>

                <input formControlName="description" type="text" class="form-control" id="prodDesc"
                  placeholder="{{'sellerAdd.productDescriptionPlaceHolder'|translate}}" autocomplete="off"
                  [class.is-invalid]="prodForm.controls['ar'].get('description').invalid&&prodForm.controls['en'].get('description').dirty"
                  [class.is-valid]="prodForm.controls['ar'].get('description').valid&&prodForm.controls['en'].get('description').dirty" />
              </div>
            </form>
            <!-- hint for product name -->
            <div>
              <small
                [hidden]="(prodForm.controls['en'].get('description').valid||prodForm.controls['en'].get('description').pristine) 
                            &&(prodForm.controls['ar'].get('description').valid||prodForm.controls['ar'].get('description').pristine) "
                class=" text-muted card-text  text-right font-0">{{'sellerAdd.required'|translate}}</small>
            </div>
          </div>

        </div>

        <!-- product color card -->
        <div class="col-12 col-md-6 form-group no-gutters  ">
          <div class="card bg-light ">
            <label class="h5 card-header" for="prodId">{{'sellerAdd.color'|translate}}</label>
            <!-- product color english -->
            <form formGroupName="en" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.english'|translate}}</span>
                </div>

                <input formControlName="color" type="text" class="form-control" id="pcoloren "
                  placeholder="{{'sellerAdd.colorPlaceHolder'|translate}}"
                  [class.is-invalid]="prodForm.controls['en'].get('color').invalid&&prodForm.controls['en'].get('color').dirty"
                  [class.is-valid]="prodForm.controls['en'].get('color').valid&&prodForm.controls['en'].get('color').dirty" />
              </div>
            </form>
            <!-- product color arabic -->
            <form formGroupName="ar" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.arabic'|translate}}</span>
                </div>

                <input formControlName="color" type="text" class="form-control" id="pcolorar " placeholder="أحمر"
                  [class.is-invalid]="prodForm.controls['ar'].get('color').invalid&&prodForm.controls['ar'].get('color').dirty"
                  [class.is-valid]="prodForm.controls['ar'].get('color').valid&&prodForm.controls['ar'].get('color').dirty" />
              </div>
            </form>
            <!-- hint for product name -->
            <div>
              <small
                [hidden]="(prodForm.controls['en'].get('color').valid||prodForm.controls['en'].get('color').pristine)
                                       &&(prodForm.controls['ar'].get('color').valid||prodForm.controls['ar'].get('color').pristine) "
                class=" text-muted card-text  text-right font-0">{{'sellerAdd.minChar'|translate}}</small>
            </div>
          </div>

        </div>

        <!-- product size card-->
        <div class="col-12 col-md-6 form-group no-gutters  ">
          <div class="card bg-light ">
            <label class="h5 card-header" for="prodId">{{'sellerAdd.size'|translate}}</label>

            <!-- product size english -->
            <form formGroupName="en" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.english'|translate}}</span>
                </div>

                <input formControlName="size" type="text" class="form-control" id="psize"
                  placeholder="{{'sellerAdd.sizePlaceHolder'|translate}}"
                  [class.is-invalid]="prodForm.controls['en'].get('size').invalid&&prodForm.controls['en'].get('size').dirty"
                  [class.is-valid]="prodForm.controls['en'].get('size').valid&&prodForm.controls['en'].get('size').dirty" />
              </div>
            </form>
            <!-- product size english -->
            <form formGroupName="ar" class="col-md col-12 form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{'sellerAdd.arabic'|translate}}</span>
                </div>
                <input formControlName="size" type="text" class="form-control" id="pcolor "
                  placeholder="{{'sellerAdd.sizePlaceHolder'|translate}}"
                  [class.is-invalid]="prodForm.controls['ar'].get('size').invalid&&prodForm.controls['ar'].get('size').dirty"
                  [class.is-valid]="prodForm.controls['ar'].get('size').valid&&prodForm.controls['ar'].get('size').dirty" />
              </div>
            </form>
            <!-- hint for product name -->
            <div>
              <small
                [hidden]="(prodForm.controls['en'].get('size').valid||prodForm.controls['en'].get('size').pristine)
                                                   &&(prodForm.controls['ar'].get('size').valid||prodForm.controls['ar'].get('size').pristine) "
                class=" text-muted card-text  text-right font-0">{{'sellerAdd.minChar'|translate}}</small>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- tap2 product image -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <!-- <div class="input-group mb-3 justify-content-center"> -->
      <div class="alert form-group  row justify-content-between  align-items-center">

        <!-- input -->
        <div class="col custom-file ">
          <input #selecImgRef type="file" (change)="onSeleImg($event)" class="custom-file-input " id="inputGroupFile02">
          <label class="custom-file-label font-amazon-normal" for="inputGroupFile02"
            aria-describedby="inputGroupFileAddon02">{{'sellerAdd.chooseFile'|translate}}</label>
        </div>

        <!-- image -->
        <div class=" col-lg-4 col-md col-12">
          <img (click)="onSelectImg(selecImgRef)" class="img-fluid card-img-top  border my-3"
            [src]="prodForm.controls['image'].value" *ngIf="prodForm.controls['image'].value; else elseBlock">
          <ng-template #elseBlock>
            <img (click)="onSelectImg(selecImgRef)" class="img-fluid card-img-top border my-3"
              src="../../../../assets/seller/add/uploadProduct.png">
          </ng-template>
        </div>
        <!-- img ends -->
      </div>
    </div>

    <!-- tap3 product Info -->
    <div class="tab-pane fade container" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <!-- row of price and discount -->
      <div class="row ">
        <!-- price starts-->
        <div class="input-group mb-3 col row  align-items-center">
          <label class="  col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.price'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend ">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- price -->
            <input type="number" class="form-control font-amazon-normal font-1 "
              placeholder="{{'sellerAdd.pricePlaceHolder'|translate}}" formControlName="price" aria-label="min"
              aria-describedby="basic-addon1" min="0"
              [class.is-invalid]="prodForm.controls['price'].invalid&&prodForm.controls['price'].dirty"
              [class.is-valid]="prodForm.controls['price'].valid&&prodForm.controls['price'].dirty" />
          </div>
        </div>
        <!-- price ends -->
        <!-- discount starts -->
        <div class="input-group mb-3 col row align-items-center">
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.discount'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">%</span>
            </div>
            <!-- discount -->
            <input type="number" class="form-control font-amazon-normal font-1" placeholder="20%"
              formControlName="discount" aria-label="max" aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm.controls['discount'].invalid&&prodForm.controls['discount'].dirty"
              [class.is-valid]="prodForm.controls['discount'].valid&&prodForm.controls['discount'].dirty" />
          </div>
        </div>
        <!-- discount ends -->
      </div>
      <!-- row of price and discount ends -->

      <!-- row of fees and quantity stars -->
      <div class="row mb-3">
        <div class="col row  align-items-center">
          <!-- fees starts -->
          <label class=" col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.fees'|translate}}</label>
          <div class="input-group  col " formGroupName="fee">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">%</span>
            </div>
            <!-- fees input -->
            <input type="number" class=" form-control font-amazon-normal font-1 " disabled aria-label="min"
              aria-describedby="basic-addon1" [value]="prodForm.controls['fee'].get('fee')?.value"
              [class.is-invalid]="prodForm.controls['fee'].invalid && prodForm.dirty"
              [class.is-valid]="prodForm.controls['fee'].valid && prodForm.dirty" />
            <!-- fees ends -->
          </div>
          <!-- small starts -->
          <div class=" col-12 text-sm-right ">
            <small class="form-text text-muted font-0"
              [class.fade]="prodForm.controls['fee'].valid || prodForm.pristine">{{'sellerAdd.chooseCategory'|translate}}</small>
          </div>
          <!-- small ends -->

        </div>

        <div class="col row align-items-center">
          <!-- quantity starts -->
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.quantity'|translate}}</label>
          <div class="input-group  col">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">#</span>
            </div>
            <!-- quantity -->
            <input type="number" class="form-control font-amazon-normal font-1"
              placeholder="{{'sellerAdd.quantityPlaceHolder'|translate}}" formControlName="quantity" aria-label="max"
              aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm.controls['quantity'].invalid&&prodForm.controls['quantity'].dirty"
              [class.is-valid]="prodForm.controls['quantity'].valid&&prodForm.controls['quantity'].dirty" />
          </div>

        </div>
      </div>

      <!-- row of fees and quantity ends -->

      <!-- row of shipping starts -->
      <!-- shipping starts -->
      <div formGroupName="shipping" class="row mb-3">
        <div class="input-group row  col align-items-center">
          <!-- shipping period -->
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.shippingPeriod'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend ">
              <span class="input-group-text px-1 font-amazon-bold font-1 "
                id="basic-addon1 ">{{'sellerAdd.days'|translate}}</span>
            </div>

            <input type="number" class="form-control font-amazon-normal  font-1"
              placeholder="{{'sellerAdd.shippingDaysPlaceHolder'|translate}}" formControlName="period" aria-label="max"
              aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm['controls'].shipping.get('period')?.invalid && prodForm['controls'].shipping.get('period')?.dirty"
              [class.is-valid]="prodForm['controls'].shipping.get('period')?.valid && prodForm['controls'].shipping.get('period')?.dirty" />
          </div>
        </div>
        <!-- shipping price starts -->
        <div class="input-group row  col align-items-center">

          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.shippingPrice'|translate}}</label>

          <div class="col  d-flex">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- shipping price  -->
            <input type="number" class="form-control font-amazon-normal  font-1" placeholder="20$"
              formControlName="shipPrice" aria-label="max" aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm['controls'].shipping.get('shipPrice')?.invalid && prodForm['controls'].shipping.get('shipPrice')?.dirty"
              [class.is-valid]="prodForm['controls'].shipping.get('shipPrice')?.valid && prodForm['controls'].shipping.get('shipPrice')?.dirty" />
          </div>

        </div>
      </div>
      <!-- shipping ends -->
      <!-- Total price start -->
      <div class="row">
        <div class=" col-6 row align-items-center p-0 m-0 ">

          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right ">{{'sellerAdd.returnPrice'|translate}}</label>

          <div class="col d-flex ">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- total price input  -->
            <input type="number" [value]="returnPrice" class="form-control font-amazon-normal  font-1" aria-label="max"
              aria-describedby="basic-addon1" disabled />
          </div>
        </div>
        <!-- break  div -->
        <div class="w-100"></div>
        <!-- small starts -->
        <div class=" col-6 text-sm-right  mb-3 ">
          <small class="form-text text-muted font-0   ">{{'sellerAdd.afterDiscountAndFees'|translate}}</small>
        </div>
        <!-- small ends -->
      </div>
      <!-- net price row  ends -->
    </div>
    <!-- tap3 ends -->

    <!-- submit button -->
    <div class="container row justify-content-center mt-2 ">
      <button type="button" (click)="resetForm()" class="btn  mx-sm-2 mx-1  ">{{'sellerAdd.cancel'|translate}}</button>
      <button *ngIf="!product;else templateName" (click)="addProduct()" type="submit" [disabled]="prodForm.invalid"
        class="btn  mx-sm-2 mx-1">{{'sellerAdd.safeAndFinish'|translate}}</button>
      <ng-template #templateName>
        <button type="submit" [disabled]="prodForm.invalid" (click)="updateProduct()"
          class="btn  mx-sm-2 mx-1">{{'sellerAdd.update'|translate}}</button>

      </ng-template>
    </div>

  </form>
</div>