<!-- all page inside container -->
<div class="container-sm container-fluid">
  <!-- logo -->
  <header class="my-4">
    <a [routerLink]="['/seller/home']"><img src="../../../../../assets/seller/amazon-serv.png" class="img-fluid"
        style="width: 150px;"></a>
  </header>
  <!-- Nav Bar -->
  <!-- nav list -->
  <nav class="bg-nav-addproduct ">
    <div class="nav nav-tabs font-amazon-bold justify-content-between justify-content-sm-start " id="nav-tab"
      role="tablist">
      <a class="nav-link active py-3 " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">{{'sellerAdd.vitalInfo'|translate}}</a>

      <a class="nav-link py-3" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">{{'sellerAdd.image'|translate}}</a>

      <a class="nav-link py-3" id="nav-profile-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-profile" aria-selected="false">{{'sellerAdd.offer'|translate}}</a>
    </div>
  </nav>



  <!-- taps content container -->
  <form [formGroup]="prodForm" class="tab-content p-1 p-md-4 font-amazon-normal" id="nav-tabContent">
    <!-- tap1 product detail -->
    <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- product tap1 first row -->
      <div class="row  ">

        <!-- brand and category  -->
        <div class="alert alert-secondary col-12 form-group d-flex justify-content-between  px-0  mx-0 row">
          <!-- choose  brand label-->
          <label class="col-sm-2 col-12  align-self-center text-sm-right  my-2"
            for="catId"><span>{{'sellerAdd.category'|translate}}</span></label>
          <!-- choose  category -->
          <div class="d-flex col ">
            <!-- <input type="text" class="form-control" id="prodId"> -->
            <select (change)="getFee()" formControlName="category" name="category" class="custom-select" id="catId"
              required [class.is-invalid]="prodForm.controls['category'].invalid&&prodForm.controls['category'].touched"
              [class.is-valid]="prodForm.controls['category'].valid&&prodForm.controls['category'].touched">

              <option selected disabled value="">{{'sellerAdd.selectCategory'|translate}}</option>
              <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
            </select>
          </div>
          <!-- choose  brand label-->
          <label class="col-sm-2 col-12  align-self-center text-sm-right  my-2 "
            for="brandId"><span>{{'sellerAdd.brand'|translate}}</span></label>
          <!-- choose  brand -->
          <div class="d-flex col  ">
            <select formControlName="brand" class="custom-select" name="brand" id="brandId" required
              [class.is-invalid]="prodForm.controls['brand'].invalid&&prodForm.controls['brand'].touched"
              [class.is-valid]="prodForm.controls['brand'].valid&&prodForm.controls['brand'].touched">

              <option disabled value="" selected>{{'sellerAdd.selectBrand'|translate}}</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
            </select>
          </div>

        </div>

        <!-- en form -->
        <form formGroupName="en" class="col-12   col-sm px-0  rounded">
          <div class=" alert-secondary p-2">
          <p class="h5 text-center alert">{{'sellerAdd.enInfo'|translate}} </p>
          <!-- product Name -->
          <div class=" row form-group no-gutters">
            <!-- product Name label -->
            <label class="col-sm-3 col-12 align-self-center  "
              for="pId"><span>{{'sellerAdd.productName'|translate}}</span></label>
            <!-- product Name label -->
            <div class="col">
              <input formControlName="name" type="text" class="form-control " id="prodId"
                placeholder="{{'sellerAdd.productNameExample'|translate}}" autocomplete="off"
                [class.is-invalid]="prodForm.controls['en'].get('name').invalid&&prodForm.controls['en'].get('name').dirty"
                [class.is-valid]="prodForm.controls['en'].get('name').valid&&prodForm.controls['en'].get('name').dirty" />
            </div>
            <!-- divider -->
            <div class="w-100 "></div>
            <!-- hint for product name -->
            <div class="text-sm-right col ">
              <small
                [hidden]="(prodForm.controls['en'].get('name').valid||prodForm.controls['en'].get('name').pristine) "
                class=" text-muted  text-end font-0">{{'sellerAdd.min5Char'|translate}}</small>
            </div>
          </div>
          <!-- product description -->
          <div class=" row form-group no-gutters ">
            <!-- product description label -->
            <label class="col-sm-3 col-12   align-self-center "
              for="pId"><span>{{'sellerAdd.description'|translate}}</span></label>
            <!-- product description input -->
            <div class=" col ">
              <input formControlName="description" type="text" class="form-control" id="prodDesc"
                placeholder="{{'sellerAdd.productDescriptionPlaceHolder'|translate}}" autocomplete="off"
                [class.is-invalid]="prodForm.controls['en'].get('description').invalid&&prodForm.controls['en'].get('description').dirty"
                [class.is-valid]="prodForm.controls['en'].get('description').valid&&prodForm.controls['en'].get('description').dirty" />
            </div>
          </div>
          <!-- divider -->
          <div class="w-100 "></div>
          <div class=" row form-group no-gutters">
            <!-- product color -->
            <label class="col-sm-3 col-12 align-self-center"
              for="prodId">{{'sellerAdd.color'|translate}}</label>
            <div class="col ">
              <input formControlName="color" type="text" class="form-control" id="pcolor "
                placeholder="{{'sellerAdd.colorPlaceHolder'|translate}}"
                [class.is-invalid]="prodForm.controls['en'].get('color').invalid&&prodForm.controls['en'].get('color').dirty"
                [class.is-valid]="prodForm.controls['en'].get('color').valid&&prodForm.controls['en'].get('color').dirty" />
            </div>
          </div>

          <!-- product size -->
          <div class="row form-group no-gutters">
            <label class="col-sm-3 col-12  align-self-center"
              for="prodId">{{'sellerAdd.size'|translate}}</label>

            <div class="col">
              <input formControlName="size" type="text" class="form-control" id="psize"
                placeholder="{{'sellerAdd.sizePlaceHolder'|translate}}"
                [class.is-invalid]="prodForm.controls['en'].get('size').invalid&&prodForm.controls['en'].get('size').dirty"
                [class.is-valid]="prodForm.controls['en'].get('size').valid&&prodForm.controls['en'].get('size').dirty" />
            </div>
          </div>
        </div>
        </form>
        <!-- ar form -->
       
        <form formGroupName="ar" class="col-12 col-sm  px-0">
          <div class=" alert-secondary p-2">
          <p class="h5 text-center alert">{{'sellerAdd.arInfo'|translate}} </p>
          <!-- product Name -->
          <div class="row form-group no-gutters">
            <label class=" col-sm-3 col-12 align-self-center"
              for="pId"><span>{{'sellerAdd.productName'|translate}}</span></label>
            <div class="col ">
              <input formControlName="name" type="text" class="form-control " id="prodId"
                placeholder="{{'sellerAdd.productNameExample'|translate}}" autocomplete="off"
                [class.is-invalid]="prodForm.controls['ar'].get('name').invalid&&prodForm.controls['ar'].get('name').dirty"
                [class.is-valid]="prodForm.controls['ar'].get('name').valid&&prodForm.controls['ar'].get('name').dirty" />
            </div>
            <!-- divider -->
            <div class="w-100 "></div>
            <!-- hint for product name -->
            <div class="text-sm-right col ">
              <small
                [hidden]="(prodForm.controls['ar'].get('name').valid||prodForm.controls['ar'].get('name').pristine) "
                class=" text-muted  text-end font-0">{{'sellerAdd.min5Char'|translate}}</small>
            </div>
          </div>

          <!-- product description -->
          <div class="row form-group no-gutters">
            <label class="col-sm-3 col-12  my-2 align-self-center "
              for="pId"><span>{{'sellerAdd.description'|translate}}</span></label>

            <div class=" col ">
              <input formControlName="description" type="text" class="form-control" id="prodDesc"
                placeholder="{{'sellerAdd.productDescriptionPlaceHolder'|translate}}" autocomplete="off"
                [class.is-invalid]="prodForm.controls['ar'].get('description').invalid&&prodForm.controls['en'].get('description').dirty"
                [class.is-valid]="prodForm.controls['ar'].get('description').valid&&prodForm.controls['en'].get('description').dirty" />
            </div>
          </div>
          <!-- product color -->
          <div class="row form-group no-gutters">
            <label class="col-sm-3 col-12 align-self-center "
              for="prodId">{{'sellerAdd.color'|translate}}</label>
            <div class="col ">
              <input formControlName="color" type="text" class="form-control" id="pcolor "
                placeholder="{{'sellerAdd.colorPlaceHolder'|translate}}"
                [class.is-invalid]="prodForm.controls['ar'].get('color').invalid&&prodForm.controls['ar'].get('color').dirty"
                [class.is-valid]="prodForm.controls['ar'].get('color').valid&&prodForm.controls['ar'].get('color').dirty" />
            </div>
          </div>

          <!-- product size -->
          <div class="row form-group no-gutters">
            <label class="col-sm-3 col-12  align-self-center "
              for="prodId">{{'sellerAdd.size'|translate}}</label>

            <div class="col  ">
              <input formControlName="size" type="text" class="form-control" id="psize"
                placeholder="{{'sellerAdd.sizePlaceHolder'|translate}}"
                [class.is-invalid]="prodForm.controls['ar'].get('size').invalid&&prodForm.controls['ar'].get('size').dirty"
                [class.is-valid]="prodForm.controls['ar'].get('size').valid&&prodForm.controls['ar'].get('size').dirty" />
            </div>
          </div>
        </div>
        </form>
     

      </div>

    </div>

    <!-- tap2 product image -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <!-- <div class="input-group mb-3 justify-content-center"> -->
      <div class="alert form-group  row justify-content-between  align-items-center">

        <!-- input -->
        <div class="col custom-file ">
          <input #selecImgRef type="file" (change)="onSeleImg($event)" class="custom-file-input " id="inputGroupFile02">
          <label class="custom-file-label font-amazon-normal" for="inputGroupFile02"
            aria-describedby="inputGroupFileAddon02">{{'sellerAdd.chooseFile'|translate}}</label>
        </div>

        <!-- image -->
        <div class=" col-lg-4 col-md col-12">
          <img (click)="onSelectImg(selecImgRef)" class="img-fluid card-img-top  border my-3"
            [src]="prodForm.controls['image'].value" *ngIf="prodForm.controls['image'].value; else elseBlock">
          <ng-template #elseBlock>
            <img (click)="onSelectImg(selecImgRef)" class="img-fluid card-img-top border my-3"
              src="../../../../assets/seller/add/uploadProduct.png">
          </ng-template>
        </div>
        <!-- img ends -->
      </div>
    </div>

    <!-- tap3 product Info -->
    <div class="tab-pane fade container" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <!-- row of price and discount -->
      <div class="row ">
        <!-- price starts-->
        <div class="input-group mb-3 col row  align-items-center">
          <label class="  col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.price'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend ">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- price -->
            <input type="number" (change)="updateTotalPrice(priceRef)" class="form-control font-amazon-normal font-1 "
              placeholder="{{'sellerAdd.pricePlaceHolder'|translate}}" formControlName="price" aria-label="min"
              aria-describedby="basic-addon1" min="0"
              [class.is-invalid]="prodForm.controls['price'].invalid&&prodForm.controls['price'].dirty"
              [class.is-valid]="prodForm.controls['price'].valid&&prodForm.controls['price'].dirty" />
          </div>
        </div>
        <!-- price ends -->
        <!-- discount starts -->
        <div class="input-group mb-3 col row align-items-center">
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.discount'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">%</span>
            </div>
            <!-- discount -->
            <input type="number" class="form-control font-amazon-normal font-1" placeholder="20%"
              formControlName="discount" aria-label="max" aria-describedby="basic-addon1"
              (change)="updateTotalPrice(priceRef)"
              [class.is-invalid]="prodForm.controls['discount'].invalid&&prodForm.controls['discount'].dirty"
              [class.is-valid]="prodForm.controls['discount'].valid&&prodForm.controls['discount'].dirty" />
          </div>
        </div>
        <!-- discount ends -->
      </div>
      <!-- row of price and discount ends -->

      <!-- row of fees and quantity stars -->
      <div class="row mb-3">
        <div class="col row  align-items-center">
          <!-- fees starts -->
          <label class=" col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.fees'|translate}}</label>
          <div class="input-group -3 col " formGroupName="fee">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">%</span>
            </div>
            <!-- fees input -->
            <input type="number" class=" form-control font-amazon-normal font-1 " disabled aria-label="min"
              aria-describedby="basic-addon1" [value]="prodForm.controls['fee'].get('fee')?.value" />
            <!-- fees ends -->
          </div>
        </div>
        <div class="col row align-items-center">
          <!-- quantity starts -->
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.quantity'|translate}}</label>
          <div class="input-group  col">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">#</span>
            </div>
            <!-- quantity -->
            <input type="number" class="form-control font-amazon-normal font-1"
              placeholder="{{'sellerAdd.quantityPlaceHolder'|translate}}" formControlName="quantity" aria-label="max"
              aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm.controls['quantity'].invalid&&prodForm.controls['quantity'].dirty"
              [class.is-valid]="prodForm.controls['quantity'].valid&&prodForm.controls['quantity'].dirty" />
          </div>

        </div>
      </div>
      <!-- row of fees and quantity ends -->

      <!-- row of shipping starts -->
      <!-- shipping starts -->
      <div formGroupName="shipping" class="row mb-3">
        <div class="input-group row  col align-items-center">
          <!-- shipping period -->
          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.shippingPeriod'|translate}}</label>
          <div class="col d-flex">
            <div class="input-group-prepend ">
              <span class="input-group-text px-1 font-amazon-bold font-1 "
                id="basic-addon1 ">{{'sellerAdd.days'|translate}}</span>
            </div>

            <input type="number" class="form-control font-amazon-normal  font-1"
              placeholder="{{'sellerAdd.shippingDaysPlaceHolder'|translate}}" formControlName="period" aria-label="max"
              aria-describedby="basic-addon1"
              [class.is-invalid]="prodForm['controls'].shipping.get('period')?.invalid && prodForm['controls'].shipping.get('period')?.dirty"
              [class.is-valid]="prodForm['controls'].shipping.get('period')?.valid && prodForm['controls'].shipping.get('period')?.dirty" />
          </div>
        </div>
        <!-- shipping price starts -->
        <div class="input-group row  col align-items-center">

          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right">{{'sellerAdd.shippingPrice'|translate}}</label>

          <div class="col  d-flex">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- shipping price  -->
            <input type="number" class="form-control font-amazon-normal  font-1" placeholder="20$"
              formControlName="shipPrice" aria-label="max" aria-describedby="basic-addon1"
              (change)="updateTotalPrice(priceRef)"
              [class.is-invalid]="prodForm['controls'].shipping.get('shipPrice')?.invalid && prodForm['controls'].shipping.get('shipPrice')?.dirty"
              [class.is-valid]="prodForm['controls'].shipping.get('shipPrice')?.valid && prodForm['controls'].shipping.get('shipPrice')?.dirty" />
          </div>

        </div>
      </div>
      <!-- shipping ends -->
      <!-- Total price start -->
      <div class="row">
        <div class=" col-6 row align-items-center p-0 m-0 ">

          <label class="col-sm-4 col-12 mb-sm-0 mb-1 text-sm-right ">{{'sellerAdd.returnPrice'|translate}}</label>

          <div class="col d-flex ">
            <div class="input-group-prepend">
              <span class="input-group-text px-1 font-amazon-bold font-1" id="basic-addon1 ">$</span>
            </div>
            <!-- total price input  -->
            <input type="number" #priceRef class="form-control font-amazon-normal  font-1" aria-label="max"
              aria-describedby="basic-addon1" disabled />
          </div>
        </div>
        <!-- break  div -->
        <div class="w-100"></div>
        <!-- small starts -->
        <div class=" col-6 text-sm-right  mb-3 ">
          <small class="form-text text-muted font-0   ">{{'sellerAdd.afterDiscountAndFees'|translate}}</small>
        </div>
        <!-- small ends -->
      </div>
      <!-- net price row  ends -->
    </div>
    <!-- tap3 ends -->

    <!-- submit button -->
    <div class="container row justify-content-center mt-2 ">
      <button type="button" (click)="resetForm()" class="btn  mx-sm-2 mx-1  ">{{'sellerAdd.cancel'|translate}}</button>
      <button *ngIf="!product;else templateName" (click)="addProduct()" type="submit" [disabled]="prodForm.invalid"
        class="btn  mx-sm-2 mx-1">{{'sellerAdd.safeAndFinish'|translate}}</button>
    <ng-template  #templateName   >
      <button (click)="updateProduct()" type="submit" [disabled]="prodForm.invalid"
      class="btn  mx-sm-2 mx-1">{{'sellerAdd.update'|translate}}</button>

    </ng-template>
      </div>

  </form>
</div>