<p>admin-home works!</p>
<app-admin-header></app-admin-header>
   <!-- pages taps content -->
   <div class="tab-content"id="pages-content">
    <app-dashboard class="container-fluid tab-pane fade show active" id="dashboard"></app-dashboard>
    <app-product-statistics class="container-fluid tab-pane fade show " id="products"></app-product-statistics>
    <app-seller-statistics class="container-fluid tab-pane fade show " id="sellers"></app-seller-statistics>
    <app-earings-statistics class="container-fluid tab-pane fade show " id="earings"></app-earings-statistics>
    <app-order-statistics class="container-fluid tab-pane fade show " id="orders"> </app-order-statistics>
    <app-customer-statistics class="container-fluid tab-pane fade show " id="customers"> </app-customer-statistics>
   
</div>
