          <!-- left side -->
            <!-- orders -->
            <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                <div class=" d-flex justify-content-between px-3" data-toggle="collapse" href="#ordersList ">
                  <p class="h5 font-amazon-bold ">{{'sellerHome.order'|translate}}</p>
                  <p class="dropdown-toggle"></p>
                </div>
                <ul class=" nav border-bottom collapse show"id="ordersList">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.pending'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.premiumUnshipped'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link ">{{'sellerHome.unshipped'|translate}}</a>
                      <a class="nav-link ">0</a>

                      
                  </li>
                  <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link ">{{'sellerHome.returnRequest'|translate}}</a>
                      <a class="nav-link ">0</a>
                  </li>
                </ul>
                <ul class=" nav border-bottom collapse show"id="ordersList">
                  <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark">{{'sellerHome.inLastDay'|translate}}</a>
                      <a class="nav-link text-dark">0</a>
                  </li >
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark ">{{'sellerHome.inLastWeek'|translate}}</a>
                      <a class="nav-link text-dark">0</a>
                  </li>
              </ul>
              <a class="font-1 font-amazon-bold d-block text-center p-2 ">{{'sellerHome.viewYouOrders'|translate}}</a>
            </div>
              <!-- Performance -->
              <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                  <div class="d-flex justify-content-between  px-3 "data-toggle="collapse" href="#performeList">
                    <p class="h5 font-amazon-bold ">{{'sellerHome.performance'|translate}}</p>
                    <p class="dropdown-toggle"></p>
                  </div>
                  <ul class=" nav border-bottom collapse show "id="performeList">
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">{{'sellerHome.buyerMessages'|translate}}</a>
                          <a class="nav-link ">0</a>
                      </li >
                        <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">{{'sellerHome.AToZGuaranteeClaims'|translate}}</a>
                          <a class="nav-link ">0</a>
                      </li>
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.chargeBackClaims'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li>
                </ul>

                   <!-- buyer messeges -->
                <div class="h5 font-amazon-bold  p-2">{{'sellerHome.buyerMessages'|translate}}</div>
                  <ul class=" nav border-bottom">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark">{{'sellerHome.under24HourTarget'|translate}}</a>
                        <a class="nav-link text-dark">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark ">{{'sellerHome.over24HourTarget'|translate}}</a>
                        <a class="nav-link text-dark">0</a>
                    </li>
                </ul>
                <div class="h5 font-amazon-bold  p-2">{{'sellerHome.cutomerFeedBack'|translate}}</div>
              </div>