<p>seller-home-right works!</p>
           <!-- Right side -->
            <!-- payment summary -->
            <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                <div class="h5 font-amazon-bold  px-3">Payment Summary</div>
                <ul class=" nav border-bottom">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">Pending</a>
                        <a class="nav-link ">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">Premium unshipped</a>
                        <a class="nav-link ">0</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link ">Unshipped</a>
                      <a class="nav-link ">0</a>
  
                      
                  </li>
                  <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link ">Return requests</a>
                      <a class="nav-link ">0</a>
                  </li>
                </ul>
                <ul class=" nav border-bottom">
                  <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark">in last day</a>
                      <a class="nav-link text-dark">0</a>
                  </li >
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark ">in last 7days</a>
                      <a class="nav-link text-dark">0</a>
                  </li>
              </ul>
              <a class="font-1 font-amazon-bold d-block text-center p-2 ">View Your Payments</a>
            </div>
                     <!-- manage log -->
                     <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                      <div class="h5 font-amazon-bold  px-3">Manage  your Case Log</div>
                    </div>
              <!-- Performance -->
              <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                  <div class="h5 font-amazon-bold  px-3">sell across africa</div>
                  <ul class=" nav border-bottom">
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">Buyer Messages</a>
                          <a class="nav-link ">0</a>
                      </li >
                        <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">A-z Guarantee Claims</a>
                          <a class="nav-link ">0</a>
                      </li>
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">Chargeback Claims</a>
                        <a class="nav-link ">0</a>
  
                        
                    </li>
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">Return requests</a>
                        <a class="nav-link ">0</a>
                    </li>
                  </ul>
                  <ul class=" nav border-bottom">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark">in last day</a>
                        <a class="nav-link text-dark">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark ">in last 7days</a>
                        <a class="nav-link text-dark">0</a>
                    </li>
                </ul>
                <a class="font-1 font-amazon-bold d-block text-center p-2">view more</a>
              </div>