           <!-- Right side -->
            <!-- payment summary -->
            <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                <div class="h5 font-amazon-bold  px-3">{{'sellerHome.paymentSummary'|translate}}</div>
                <ul class=" nav border-bottom">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.pending'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.paid'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li>
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link ">{{'sellerHome.balance'|translate}}</a>
                      <a class="nav-link ">0</a>
  
                      
                  </li>
                </ul>
                <ul class=" nav border-bottom">
                  <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark">{{'sellerHome.inLastDay'|translate}}</a>
                      <a class="nav-link text-dark">0</a>
                  </li >
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                      <a class="nav-link text-dark ">{{'sellerHome.inLastWeek'|translate}}</a>
                      <a class="nav-link text-dark">0</a>
                  </li>
              </ul>
              <a class="font-1 font-amazon-bold d-block text-center p-2 ">{{'sellerHome.veiwYourPayment'|translate}}</a>
            </div>
                     <!-- manage log -->
                     <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                      <div class="h5 font-amazon-bold  px-3">{{'sellerHome.manageYourCaseLog'|translate}}</div>
                    </div>
              <!-- Performance -->
              <div class="font-amazon-normal flex-column  justify-content-center bg-white my-2 py-2">
                  <div class="h5 font-amazon-bold  px-3">{{'sellerHome.sellAcrossAfrica'|translate}}</div>
                  <ul class=" nav border-bottom">
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">{{'sellerHome.salesSummary'|translate}}</a>
                          <a class="nav-link ">0</a>
                      </li >
                        <li class="nav-item d-flex justify-content-between font-1 w-100">
                          <a class="nav-link ">{{'sellerHome.orderdProductSales'|translate}}</a>
                          <a class="nav-link ">0</a>
                      </li>
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.units'|translate}}</a>
                        <a class="nav-link ">0</a>
  
                        
                    </li>
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link ">{{'sellerHome.today'|translate}}</a>
                        <a class="nav-link ">0</a>
                    </li>
                  </ul>
                  <ul class=" nav border-bottom">
                    <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark">{{'sellerHome.week'|translate}}</a>
                        <a class="nav-link text-dark">0</a>
                    </li >
                      <li class="nav-item d-flex justify-content-between font-1 w-100">
                        <a class="nav-link text-dark ">{{'sellerHome.month'|translate}}</a>
                        <a class="nav-link text-dark">0</a>
                    </li>
                </ul>
                <a class="font-1 font-amazon-bold d-block text-center p-2">{{'sellerHome.viewMore'|translate}}</a>
              </div>