        <!-- middle side -->
        <!-- notification -->
            <div class="  bg-white rounded my-2 ">
                <div class="container p-3">
                    <h1 class="h5 font-amazon-normal ">{{'sellerHome.notification'|translate}}</h1>
                    <p class=" font-amazon-normal">{{'sellerHome.notificationBody'|translate}}</p>
                    <p class=" font-amazon-normal"> {{'sellerHome.notificationBody2'|translate}}
                        <span class="text-primary">{{'sellerHome.learnMore'|translate}}</span></p>
                </div>
                </div>
               
                <!-- Amazon Selling Coach -->
                
                    <div class="  bg-white rounded my-2">
                        <div class="container p-3">
                            <h1 class="h5 font-amazon-normal ">{{'sellerHome.amazonSellingCoach'|translate}} </h1>
                          <div style="height: 200px;">
                            <!-- vertical tabs section -->
                            <div class="row m-0 font-amazon-normal">
                              <div class="col-auto" > 
                                <!-- tabs list -->
                                <div class="nav flex-column nav-pills " style="background-color: gainsboro;"id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-tap-inventory" role="tab" aria-controls="v-pills-home" aria-selected="true">{{'sellerHome.inventory'|translate}}</a>
                                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-tap-pricing" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{'sellerHome.pricing'|translate}}</a>
                                  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-tap-growth" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{'sellerHome.growth'|translate}}</a>
                                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-tap-advertising" role="tab" aria-controls="v-pills-settings" aria-selected="false">{{'sellerHome.advertising'|translate}}</a>
                                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-tap-fullfillment" role="tab" aria-controls="v-pills-settings" aria-selected="false">{{'sellerHome.fullfillment'|translate}}</a>
                                </div>
                              </div>
                              <div class="col">
                                <!-- taps content -->
                                <div class="tab-content" id="v-pills-tabContent">
                                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                                  <div class="tab-pane fade" id="v-tap-inventory" role="tabpanel" aria-labelledby="v-tap-inventory">...</div>
                                  <div class="tab-pane fade" id="v-tap-pricing" role="tabpanel" aria-labelledby="v-tap-pricing">...</div>
                                  <!-- tap growth content -->
                                  <div class="tab-pane fade" id="v-tap-growth" role="tabpanel" aria-labelledby="v-tap-growth">
                                    <p>{{'sellerHome.growthBody'|translate}}</p>
                                  </div>
                                  <div class="tab-pane fade" id="v-tap-fullfillment" role="tabpanel" aria-labelledby="v-tap-fullfillment">...</div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                   <!-- notification -->
                
                   <div class="  bg-white rounded my-2">
                      <div class="container p-3 font-amazon-normal">
                          <h1 class="h5 font-amazon-normal ">{{'sellerHome.headLines'|translate}} </h1>
                          <div style="height: 200px;">
                            <p>{{'sellerHome.headLinesBody1'|translate}} </p>
                            <p>{{'sellerHome.headLinesBody2'|translate}}  <span class="text-primary">{{'sellerHome.learnMore'|translate}}</span></p>
                          </div>

                  </div>
              </div>
     
