        <!-- middle side -->
        <!-- notification -->
            <div class="  bg-white rounded my-2 ">
                <div class="container p-3">
                    <h1 class="h5 font-amazon-normal ">Notification</h1>
                    <p class=" font-amazon-normal">Prepaid return on seller
                        fulfilled items Amazon will enable,
                        starting October2</p><p class=" font-amazon-normal"> The update is scheduled to take place over several weeks . if your account
                        has been enabled for prepaid returns, you will see a notification at top of the Manager
                        Returns Page <span class="text-primary">Learn more.</span></p>
                </div>
                </div>
               
                <!-- Amazon Selling Coach -->
                
                    <div class="  bg-white rounded my-2">
                        <div class="container p-3">
                            <h1 class="h5 font-amazon-normal ">Amazon Selling Coach </h1>
                          <div style="height: 200px;">
                            <!-- vertical tabs section -->
                            <div class="row font-amazon-normal">
                              <div class="col-3">
                                <!-- tabs list -->
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-tap-inventory" role="tab" aria-controls="v-pills-home" aria-selected="true">Inventory</a>
                                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-tap-pricing" role="tab" aria-controls="v-pills-profile" aria-selected="false">Pricing</a>
                                  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-tap-growth" role="tab" aria-controls="v-pills-messages" aria-selected="false">Growth</a>
                                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-tap-advertising" role="tab" aria-controls="v-pills-settings" aria-selected="false">Advertising</a>
                                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-tap-fullfillment" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fullfillment</a>
                                </div>
                              </div>
                              <div class="col-9">
                                <!-- taps content -->
                                <div class="tab-content" id="v-pills-tabContent">
                                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                                  <div class="tab-pane fade" id="v-tap-inventory" role="tabpanel" aria-labelledby="v-tap-inventory">...</div>
                                  <div class="tab-pane fade" id="v-tap-pricing" role="tabpanel" aria-labelledby="v-tap-pricing">...</div>
                                  <!-- tap growth content -->
                                  <div class="tab-pane fade" id="v-tap-growth" role="tabpanel" aria-labelledby="v-tap-growth">
                                    <p>what type of products would like to sell?</p>
                                  </div>
                                  <div class="tab-pane fade" id="v-tap-fullfillment" role="tabpanel" aria-labelledby="v-tap-fullfillment">...</div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                   <!-- notification -->
                
                   <div class="  bg-white rounded my-2">
                      <div class="container p-3 font-amazon-normal">
                          <h1 class="h5 font-amazon-normal ">HeadLines </h1>
                          <div style="height: 200px;">
                            <p> checking the items in the buy box for seller outside the target shipping Location</p>
                            <p> if you are a seller outside your target shipping Location and want to know if your item is the winning the buy box <span class="text-primary">learn more</span></p>
                          </div>

                  </div>
              </div>
     
