
   <!-- footer -->
    <!-- nav1 back to top -->
    <nav class=" ft-head-bg ft-head-hover text-center py-3 font-amazon-normal">
        <a class="text-white " href="#">{{'homeFooter.backToTop'|translate}}</a>
      </nav>
      <!-- nav2 about -->
      <nav class="container-fluid ft-bg font-amazon-normal">
        <div class="container-lg py-3">
          <div class=" row justify-content-between">
            <!-- col -->
            <div class="col text-white">
              <p class="h6 font-amazon-normal ">{{'homeFooter.getToKnowUs'|translate}}</p>
              <ul class="list-group font-0 ">
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.careers'|translate}} </a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.blog'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.aboutAmazon'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.sustainability'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.amazonDevices'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.investorRelations'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">{{'homeFooter.amazonTours'|translate}}</a>
                </li>
              </ul>
            </div>
            <!-- col -->
            <div class="col text-white">
              <p class="h6 font-amazon-normal">{{'homeFooter.makeMoneyWithUs'|translate}}</p>
              <ul class="list-group font-0 ">
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">{{'homeFooter.sellProductsOnAmazon'|translate}} </a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.sellAppsOnAmazon'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">{{'homeFooter.becomeAnAffiliate'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.advertiseYourProducts'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.selfPublishWithUs'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.hostAnAmazonHub'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">›{{'homeFooter.seeMoreMakeMoneyWithUs'|translate}} </a>
                </li>
              </ul>
            </div>
            <!-- col -->
            <div class="col-md col text-white">
              <p class="h6 font-amazon-normal">{{'homeFooter.amazonPaymentProducts'|translate}}</p>
              <ul class="list-group font-0 ">
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">{{'homeFooter.amazonBusinessCard'|translate}} </a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.shopWithPoints'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover  px-0">{{'homeFooter.reloadYourBalance'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.amazonCurrencyConverter'|translate}}</a>
                </li>
              </ul>
            </div>
            <!-- col -->
            <div class="col-md col text-white">
              <p class="h6 font-amazon-normal ">{{'homeFooter.letUsHelpYou'|translate}}</p>
              <ul class="list-group font-0 ">
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.amazonAndCOVID-19'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.yourAccount'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.yourOrders'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.shippingRatesAndPolicies'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.returns&Replacements'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.manageYourContentAndDevices'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0 ">{{'homeFooter.amazonAssistant'|translate}}</a>
                </li>
                <li>
                  <a class="nav-link text-white underline-hover px-0">{{'homeFooter.help'|translate}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- footer nav -->
      <nav class="container-fluid ft-tail-bg font-amazon-normal">
        <div class="container-lg">
          <div class="row justify-content-start ">
            <!-- col -->
            <div *ngFor="let item of [0,1,2,3,4,5,6]" class="col-6 col-sm-3 col-lg py-2  font-0">
              <div  class="container px-1 ">
              <!-- section -->
              <div class="text-white underline-hover  py-2">
                <p class="font-1 ">{{'homeFooter.amazonMusic'|translate}}</p>
                <ul class="list-group  ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.streamMillionsOfSongs'|translate}}</a>
                  </li>
                </ul>
              </div>
              <!-- section -->
              <div class="text-white underline-hover   py-2">
                <p class="font-1 ">{{'homeFooter.sellOnAmazon'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.startASellingAccount'|translate}}</a>
                  </li>
                </ul>
              </div>
              <!-- section -->
              <div class="text-white underline-hover py-2">
                <p class="font-1 ">{{'homeFooter.audible'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.listenToBooksAndOriginalAudioPerformances'|translate}}</a>
                  </li>
                </ul>
              </div>
      
              <!-- section -->
              <div class="text-white underline-hover py-2">
                <p class="font-1 ">{{'homeFooter.sellOnAmazon'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.startASellingAccount'|translate}}</a>
                  </li>
                </ul>
              </div>
              <!-- section -->
              <div class="text-white underline-hover py-2">
                <p class="font-1 ">{{'homeFooter.sellOnAmazon'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.startASellingAccount'|translate}}</a>
                  </li>
                </ul>
              </div>
              <!-- section -->
              <div class="text-white underline-hover py-2">
                <p class="font-1 ">{{'homeFooter.goodReads'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.bookReviewsAndRecommendations'|translate}} </a>
                  </li>
                </ul>
              </div>
              <!-- section -->
              <div class="text-white underline-hover py-2">
                <p class="font-1 ">{{'homeFooter.zappos'|translate}}</p>
                <ul class="list-group   ">
                  <li>
                    <a class=" text-muted ">{{'homeFooter.shoesAndClothing'|translate}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </nav>
