
<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- body -->
            <form [formGroup]="catForm" class="modal-body">
                <div class="alert form-group  row justify-content-between  align-items-center">

                    <!-- Brand Name -->
                    <div class="col-12 ">
                    <div class="card bg-light ">
                        <label class="card-header  h5" for="pId">
                            <span>Cateogry Name</span></label>
                            <!-- english form -->
                            <form formGroupName="en"class="form-group p-2 " >
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">english</span>
                                    </div>

                                    <input formControlName="name" type="text" class="form-control " id="prodId"
                                        placeholder="ex: clothes" autocomplete="off"
                                        [class.is-invalid]="catForm.controls['en'].get('name').invalid&&catForm.controls['en'].get('name').dirty"
                                        [class.is-valid]="catForm.controls['en'].get('name').valid&&catForm.controls['en'].get('name').dirty" />
                                </div>
                            </form>
                             <!-- arabic form -->
                            <form formGroupName="ar"class="form-group p-2" >
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">arabic</span>
                                    </div>
                                    <input formControlName="name" type="text" class="form-control " id="prodId"
                                        placeholder="ex: clothes" autocomplete="off"
                                        [class.is-invalid]="catForm.controls['ar'].get('name').invalid&&catForm.controls['ar'].get('name').dirty"
                                        [class.is-valid]="catForm.controls['ar'].get('name').valid&&catForm.controls['ar'].get('name').dirty" />
                                </div>
                            </form>

                        <!-- hint for Category name -->
                        <div class=" col text-right">
                            <small [hidden]="(catForm.controls['ar'].get('name').valid||catForm.controls['ar'].get('name').pristine)
                            && (catForm.controls['en'].get('name').valid||catForm.controls['en'].get('name').pristine)"
                                class=" text-muted  text-end font-0">min 5 char.</small>
                        </div>
                    </div>
                </div>
                    <!-- divider -->
                    <div class="w-100 "></div>


                    <!-- input image starts-->
                    <div class="col custom-file ">
                        <input #selecImgRef type="file" (change)="onSeleInput($event)" class="custom-file-input "
                            id="inputGroupFile02">
                        <label class="custom-file-label font-amazon-normal" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>

                    <!-- image -->
                    <div class=" col-lg-4 col-md col-12">
                        <div class="row justify-content-center ">
                            <div class="col-6 col-md">
                                <img (click)="onSelecImg(selecImgRef)" class=" img-fluid card-img-top  border my-3"
                                    [src]="catForm.controls['image'].value" *ngIf="catForm.controls['image'].value; else elseBlock">
                                <ng-template #elseBlock>
                                    <img (click)="onSelecImg(selecImgRef)" class="img-fluid card-img-top border my-3"
                                        src="../../../../assets/seller/add/uploadProduct.png">
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- img ends -->
                </div>
            </form>
            <!-- body ends -->
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" (click)="resetForm()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
                <button type="button" (click)="addNewCategory()" class="btn btn-primary"
                    [disabled]="catForm.invalid">Add</button>
            </div>
        </div>
    </div>
</div>