<table class="table font-amazon-normal table-hover min-content">
    <thead class="font-amazon-bold">
      <tr>
        <th scope="col">serial </th>
        <th scope="col">Name</th>
        <th scope="col">in Stock</th>
        <th scope="col">price</th>
        <th scope="col">shipping&nbsp; <span class="fas fa-dollar-sign"></span></th>
        <th scope="col">Tax&nbsp; % <span class="fas fa-dollar-sign"></span></th>
        <th scope="col">discount&nbsp;%</th>
        <th scope="col">Net Price&nbsp; <span class="fas fa-dollar-sign"></span></th>
        <th scope="col">Delivered&nbsp; %</th>
        <th scope="col">Cancelled &nbsp;%</th>
        <th scope="col">Seller</th>
        <th scope="col">Product Rate</th>
        <th scope="col">Seller Rate</th>
      </tr>

    </thead>
    <tbody>
     
      <!-- row1 -->
      <tr *ngFor="let product of products ; index as sn;  "> 
        <th  class="font-amazon-normal" scope="row">{{sn+1}}</th>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}&nbsp;<span class="fas fa-dollar-sign"></span></td>
        <td>{{product.shipping.shipPrice}}&nbsp;<span class="fas fa-dollar-sign"></span></td>
        <td>{{product.fee.fee}}&nbsp;%</td>
        <td>{{product.discount}}&nbsp;%</td>
        <td>{{product.price*(100-product.fee.fee)*(100-product.discount)/10000}}</td>
      </tr>
    </tbody>
  </table>