<div class="container">
    <div class="row" id="head-img">
        <img src="assets/images/amazon-full.gif">
    </div>
    <div>
        <h1>{{'shippingForm.selectAddress' | translate}}</h1>
        <p>{{'shippingForm.addressTips' | translate}}</p>
    </div>
    <hr>
    <div class="col-6">
        <h1>{{'shippingForm.addAddress' | translate}}</h1>
        <form [formGroup]="orderForm" (ngSubmit)="submitOrder()">
            <label class="mt-2"><span>{{'shippingForm.country' | translate}}</span></label><br>
            <select class="selectpicker countrypicker form-control" data-default="DE" formControlName="country">

            </select>
            <label class="mt-2"><span>{{'shippingForm.fullName' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="name">
            <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched" class="alert alert-danger" role="alert">
                {{'shippingForm.requiredF' | translate}}!
            </div>
            <label class="mt-2"><span>{{'shippingForm.address1' | translate}}</span></label><br>
            <input class="form-control" formControlName="address1" type="text" placeholder="Street address, P.O.box, company name, c/o">
            <div *ngIf="orderForm.get('address1')?.invalid && orderForm.get('address1')?.touched" class="alert alert-danger" role="alert">
                {{'shippingForm.lengthMustBe10' | translate}}!
            </div>
            <label class="mt-2"><span>{{'shippingForm.address2' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="address2" placeholder="Apartment, suite, unit, building, floor, etc.">
            <div *ngIf="orderForm.get('address2')?.invalid && orderForm.get('address2')?.touched" class="alert alert-danger" role="alert">
                {{'shippingForm.lengthMustBe10' | translate}}
            </div>
            <label class="mt-2"><span>{{'shippingForm.city' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="city">
            <div *ngIf="orderForm.get('city')?.invalid && orderForm.get('city')?.touched" class="alert alert-danger" role="alert">
                {{'shippingForm.enterCity' | translate}}!
            </div>
            <label class="mt-2"><span>{{'shippingForm.state' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="state">
            <label class="mt-2"><span>{{'shippingForm.zipCode' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="zipCode">
            <div *ngIf="orderForm.get('zipCode')?.invalid && orderForm.get('zipCode')?.touched" class="alert alert-danger" role="alert">
                {{'shippingForm.zipLength' | translate}}!
            </div>
            <label class="mt-2"><span>{{'shippingForm.phone' | translate}}</span></label><br>
            <input class="form-control" type="text" formControlName="phone" >
            <small>{{'shippingForm.mayAssist' | translate}}</small>
        <!-- <h3 class="mt-3">Add delivery instructions (optional)</h3>
        <label class="mt-1"><span>Do we need additional instructions to find this address?</span></label><br>
        <textarea class="form-control" rows="4" placeholder="Provide details such as building description, a nearby landmark, or other navigation instructions"></textarea>
        <label class="mt-1"><span>Do we need a security code or a call box number to access this building?</span></label>
        <input class="form-control" type="text" placeholder="1234">
        <label class="mt-3"><span>Weekend delivery</span></label><br>
        <a id="showDays"  href="#days">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
            <span>I can receive packages on Saturday and Sunday</span>
        </a>
        <div id="days" class="pt-2">
            <span>I can receive packages on</span><br><br>
            <input type="checkbox" checked class=""> <span class="mr-5">Saturday</span>
            <input type="checkbox" checked> Sunday
        </div> -->
        <div class="mb-5"></div>
        <input type="checkbox" checked>{{'shippingForm.defaultAddress' | translate}} .
        <div class="border-top mt-3">
            <label class="mt-3"><span>{{'shippingForm.correctAddress' | translate}}</span></label><br>
            <small>{{'shippingForm.deliveryNote' | translate}}.</small><br>
            <a href="https://www.amazon.com/gp/help/customer/display.html/ref=chk_addrpop_genhelp_sec?ie=UTF8&nodeId=3285251">
                <span>{{'shippingForm.addressNote' | translate}}</span>
            </a>
            <span class="mx-2"> | </span>
            <a href="https://www.amazon.com/gp/help/customer/display.html/ref=chk_addrpop_apohelp_sec?ie=UTF8&nodeId=201117610">
                <span>APO/FPO address tips</span>
            </a><br>
            <button type="submit" class="btn btn-warning my-5"  id="final-btn" [disabled]="orderForm.invalid">
                {{'shippingForm.addressBTN' | translate}}</button>

        </div>
    </form>
    </div>
    <footer>
        <hr class="w-50 ">
        <p>{{'cart.askForPromo' | translate}}.</p>
        <p><a href="#">{{'shippingForm.conditionsOfUse' | translate}}</a> | <a href="#">{{'shippingForm.privacyNote' | translate}}</a> © 1996-2020, Amazon.com, Inc.</p>
    </footer>
</div>