
<div class="container">
    <div class="row">
        <div class="d-flex align-items-center m-4 col-12">
            <div class=" col-6">
                <span class="mr-1">{{ getFilteredOrders().length }}</span>
                <span class="mr-1">{{ 'orderHeader.ordersPlaced' | translate }}</span>
                <select [(ngModel)]="filterValue">
                    <option [value]="1">{{ 'orderHeader.DateFilterOptionOne' | translate }}</option>
                    <option [value]="2">{{ 'orderHeader.DateFilterOptionTwo' | translate }}</option>
                </select>
            </div>

            <div class=" col-6 d-flex justify-content-end">
                <div class="form-group has-search d-flex justify-content-center  m-0">
                    <div class="mr-2">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="{{ 'orderHeader.searchBar' | translate }}" [(ngModel)]="filterTerm">
                    </div>
                    <!-- <button class=" btn btn-secondary btn-sm">Search orders</button> -->
                </div>
            </div>
        </div>

        <app-order-card class="form-group" *ngFor="let order of ordersList | filter:filterTerm" [model]="order" ></app-order-card>
        <!-- <div class="loading" *ngIf="loading">
            Loading Work
        </div> -->
        <!-- <div class="card bg-light col-12 p-0 my-3" id="deliveredProductDiv" style="width: 18rem;">
            <div class=" card-header d-flex">
                <div class="col-3">
                    <div><b>ORDER PLACED</b></div>
                    <div>11 FEB 2020</div>
                </div>
                <div class="col-3">
                    <div>
                        <div><b>TOTAL</b></div>
                        <div>$199</div>
                    </div>
                </div>

            </div>
            <div class="card-body ">
                <div>
                    <h5 class="card-title m-0">Delivered yesterday</h5>
                    <p class="card-text ">Parcel was left in letterbox.</p>
                </div>
                <div class="d-flex p-4">
                    <div class="col-9 d-flex">
                        <img src="images/5.jpg " class="col-">
                        <div class="pr-des px-3 ">KLIM Talk - USB Desk Microphone for Computer - Compatible with Any
                            PC,
                            Laptop, Mac, PS4 - Professional Desktop Mic with Stand - Recording, Gaming, Streaming,
                            YouTube, Podcast Mics, Studio Microfono
                            <div style="color: black;">
                                Eligable for return until <span> 12 mar 2020</span>
                            </div>
                            <div class="my-2" style="color: red;"> $199</div>
                            <button class="btn btn-warning">Buy Again</button>
                        </div>
                    </div>


                    <div class="col-3">
                        <a class="btn btn-warning mb-3" style="width: 100%;" [routerLink]="['/DeliveredPackage']">Track package</a>
                        <button class="btn btn-secondary my-1" style="width: 100%;">Return or Replace items</button>
                        <button class="btn btn-secondary my-1" style="width: 100%;">Share gift receipt </button>
                        <button class="btn btn-secondary my-1" style="width: 100%;">Write a product review</button>
                        <button class="btn btn-secondary my-1" id="ArchiveBtn" style="width: 100%;">Archive
                            order</button>
                    </div>


                </div>

            </div>
        </div> -->

    </div>


    <hr>

</div>
<!-- <div class="container">
    <h2>Inspired by your browsing history</h2>
    <div class="row my-5">
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/1.jpg">
            <div>LDFAS Titanium Band Compatible for Galaxy Watch 45mm/46mm Bands, 22mm Titanium…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fas fa-star-half-alt"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/4.jpg">
            <div>Samsung Electronics Wireless Charger Trio - Charge up to 3 Devices - for Galaxy Phones…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fas fa-star-half-alt"></span>
                <span class="far fa-star"></span>
            </div>
            <div>$31.99</div>
        </div>
        <div class="col-2">
            <img src="images/4.jpg">
            <div>Samsung Electronics Wireless Charger Trio- Charge up to 3 Devices - for Galaxy Phones…</div>
            <div>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fas fa-star-half-alt"></span>
                <span class="far fa-star"></span>
            </div>
            <div>$31.99</div>
        </div>
    </div>
</div> -->