<app-order-nav-bar></app-order-nav-bar>
<div class="container">
    <div class="row">
        <div class="d-flex col-12">
            <div class="lvls col-6">
                <div class="d-flex align-items-center my-3">
                    <div>
                        <div class="squFl d-flex  mr-3">
                            <i class="chkIcon fas fa-check"></i>
                        </div>
                    </div>
                    <div>
                        <div style="font-weight:bold ;" class="mb-1">132 , hagaian MT</div>
                        <h6>levice ,Outside USA and Canada</h6>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <img class="pkgImg m-5"
                    src="images/19-AUKEY True Wireless Earbuds, Bluetooth 5 Headphones in Ear with Charging Case, Hands-Free Headset with Mic, Touch Contr.jpg"
                    class="img-pro">
            </div>



        </div>

        <div class="info-box d-flex mb-5">
            <div class="add-box m-3 p-3 col-6">
                <div style="font-weight:bold ;" class="mb-2">Address info</div>
                <div> 123 Lorem ipsum dolor sit amet consectetur
                </div>
                <div>
                    Reiciendis ipsam consequatur
                </div>
            </div>

            <div class="add-box m-3 p-3 col-6">
                <div style="font-weight:bold ;" class="mb-2">Order info</div>
                <div class="mb-2"> <a href="#">View or change this order</a></div>
                <div> <a href="#">Cancel order</a></div>
            </div>
            <hr>
        </div>
    </div>
</div>