<div class="container">

        <div class="alert alert-success my-3" role="alert">
            <div class="d-flex align-items-center mb-2"> <i class="chkIcon fas fa-check mr-2"></i>
                <b class="alepxs-heading " style="font-weight: bolder;">Cancel request pending!</b>
              </div>
              <div>
                <p class="pl-4">We've requested the carrier to cancel this package.We'll let you know as we learn
                  more.</p>
              </div>
      
    </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="d-flex col-12">
      <div class="lvls col-6">
        <div class="d-flex">
          <div>
            <div class="squFl d-flex  mr-3">
              <i class="chkIcon fas fa-check"></i>
            </div>
            <div class="line ml-2"></div>
          </div>
          <div>
            <div style="font-weight: bold;">Ordered {{ order.orderDate | date}}</div>
            <h6>Previously expected {{order.dueDate}}</h6>
          </div>

        </div>
        <div class="d-flex mt-2 ">
          <div>
            <div class="squ d-flex  mr-3">
            </div>
            <div class="dshLn ml-2 mt-2"></div>
          </div>
          <div class="pkgLvl">
            Shipped
          </div>

        </div>
        <div class="d-flex mt-2 ">
          <div>
            <div class="squ d-flex  mr-3">
            </div>
            <div class="dshLn ml-2 mt-2"></div>
          </div>
          <div class="pkgLvl">
            Out for delivery
          </div>

        </div>
        <div class="d-flex mt-2 mb-5">
          <div>
            <div class="squ d-flex mr-3">
            </div>
          </div>
          <div class="pkgLvl">
            Arriving {{order.deliveredDate | date}}
          </div>

        </div>
      </div>
      <div class="col-6 d-flex align-self-center">
        <div *ngFor="let prd of order.products">
          <img class="pkgImg m-5" [src]="prd.image" class="img-pro">
      </div>
      </div>



    </div>

    <div class="info-box d-flex mb-5">
      <div class="add-box m-3 p-3 col-12">
        <div style="font-weight:bold ;" class="mb-2">Address info</div>
        <div> {{order.address}}
        </div>
        <div>
          Reiciendis ipsam consequatur
        </div>
      </div>
      <!-- <div class="add-box m-3 p-3 col-6">
        <div style="font-weight:bold ;" class="mb-2">Order info</div>
        <div class="mb-2"> <a href="#">View or change this order</a></div>
        <div> <a href="#">Cancel order</a></div>
      </div> -->
      <hr>
    </div>
  </div>
</div>


