<app-seller-home-header ></app-seller-home-header>
<div class="container-fluid">
  <div class=" height-80 overflow-auto ">
    <table class="table font-amazon-normal table-hover min-content tableFixHead">
      <thead class="font-amazon-bold thead-dark text-capitalize">
        <tr>
          <th scope="col">Sn </th>
          <th scope="col">Name</th>
          <th scope="col">in Stock</th>
          <th scope="col">price</th>
          <th scope="col">shipping&nbsp; <span class="fas fa-dollar-sign"></span></th>
          <th scope="col">Tax&nbsp; % <span class="fas fa-dollar-sign"></span></th>
          <th scope="col">discount&nbsp;%</th>
          <th scope="col">Net Price&nbsp; <span class="fas fa-dollar-sign"></span></th>
          <th class="text-center" scope="col">image</th>
          <th class="text-center" scope="col">Modify</th>
          <!-- <th scope="col">Delivered&nbsp; %</th>
                <th scope="col">Cancelled &nbsp;%</th>
                <th scope="col">Seller</th>
                <th scope="col">Product Rate</th>
                <th scope="col">Seller Rate</th> -->
        </tr>

      </thead>
      <ng-container *ngIf="filteredList.length>0;else noListRef">
        <tbody>
          <!-- row1 -->
          <ng-container *ngFor="let prod of filteredList ; index as sn;"  >
            <!-- [routerLink]="['/departments/product/'+prod.product.id]" -->
          <tr  >
            <th class="font-amazon-normal align-middle" scope="row">{{sn+1}}</th>
            <td class="align-middle">
              <p class="mb-1 text-nowrap overflow-hidden text-truncate"style="width: 150px;">{{prod.product.name}}</p>
              <p class="badge badge-primary">{{prod.category.name}}</p>
            </td>
            <td class="align-middle">{{prod.product.quantity}}</td>
            <td class="align-middle">{{prod.product.price}}&nbsp;<span class="fas fa-dollar-sign"></span></td>
            <td class="align-middle">{{prod.product.shipping.shipPrice}}&nbsp;<span class="fas fa-dollar-sign"></span>
            </td>
            <td class="align-middle">{{prod.product.fee.fee}}&nbsp;%</td>
            <td class="align-middle">{{prod.product.discount}}&nbsp;%</td>
            <td class="align-middle">{{prod.product.price*(100-prod.product.fee.fee)*(100-prod.product.discount)/10000}}
            </td>
            <td class="align-middle ">
              <div class="text-center d-flex justify-content-center overflow-hidden"style="width:150px;">
                <img  style="height: 80px;width: auto;" [src]="prod.product.image" />
              </div>
            </td>
            <td class="align-middle ">
              <div class="d-flex flex-column">
                <div (click)="updateSellerProduct(prod.product)" class="btn btn-dark m-1">updated</div>
                <div (click)="deleteSellerProduct(prod)" class="btn btn-danger m-1" >delete</div>
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </ng-container>
    </table>
  </div>
  <ng-template #noListRef>
    <td colspan="10" class="alert alert-warning text-center m-auto"><span class="h3">Sorry No Products Yet</span></td>
  </ng-template>
</div>