
<div class="container">
<div class="alert   text-center" >
   <!-- <p class="h1 text-center font-amazon-bold">Sorry</p>  
   <p class="h3 text-center font-amazon-normal"> We Are Sorry Page Not Found! Try Searching or Go to Home</p>   -->
   <a [routerLink]="['/home']" routerLinkActive=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/error/title._TTD_.png"
     alt="Sorry We Are Sorry Page Not Found! Try Searching or Go to Home "></a>
   <button class="btn btn-primary m-auto d-block" [routerLink]="['/home']" routerLinkActive="">  Redirect to Home</button>  

</div>.
</div>