.main-head,

.component {
    padding: 10px 0px;
    margin: 0px 10px;
  }

  .comp-head-details a {
    font-size: 18px;
    color: black;
  }
  
  .comp-head-details a:hover {
    color: #C4550C;
    text-decoration: underline;
  }
  
  .comp-details a {
    font-size: 18px;
    color: black;
  }
  
  .comp-details a:hover {
    color: #C4550C;
    text-decoration: none;
  }
  .shipping-to {
    color: grey;
  }
  .fas,
  .far {
    color: #F1A31B;
  }
   div.row div.col > p:hover {
    color: #C4550C;
  }
  .imgPrd{
    // margin: 0 5%;
    width: 100%;
  }
  .prdDes{
    font-size: 1.1em;
    line-height: 30px;
  }
  
  @media (max-width: 767px){ 
    .imgPrd{
      width: 70%;
     
    }
   }
//   .comp-img {
//     width: 100%;
//     height: 150px;
//     display: flex;
//     justify-content: center;
//   }