/* You can add global styles to this file, and also import other style files */
@import 'reset.css';
$base-color: #EAEDED;
$navBackground1:#131921;
$navBackground2:#232F3E;
$iconColor:#F3A847;
// mixin for background color
$font:amazon-font,Arial, Helvetica, sans-serif;
//main font family
@font-face {
    font-family: amazon-font;
    src: url(./fonts/Ember/AmazonEmber_Rg.ttf);
    font-weight: 100;
  }
  @font-face {
    font-family: amazon-font;
    src: url(./fonts/Ember/AmazonEmber_Bd.ttf);
    font-weight: 200;
}
@font-face {
  font-family: amazon-font;
  src: url(./fonts/Ember/Amazon-Ember-Medium.ttf);
  font-weight: 300;
}
@font-face {
  font-family: amazon-font;
  src: url(./fonts/Ember/AmazonEmber_Th.ttf);
  font-weight: 400;
}
//1- global attributes
*:not(.fas,.fab ,.fa ,.far){
    font-family: amazon-font,Arial, Helvetica, sans-serif ;  

    font-weight: 100 ;
  }
  body{
    text-align: unset; // 3
  }

 

  .font-amazon-normal{
    font-family:amazon-font ;
    font-weight: 100!important;
  }
  .font-amazon-bold{
    font-family:amazon-font ;
    font-weight: 200!important;
  }
  .font-amazon-thin{
    font-family:amazon-font ;
    font-weight: 400!important;
  }

  // mixin For Size
@mixin baseFonts($fontsize) {
    font-size:$fontsize;
    $baseFont: $font,Arial, Helvetica, sans-serif;  
  }

  // fonts size 
  .font-0{@include baseFonts(0.8em);}
  .font-1{@include baseFonts(0.95em);}
  .font-2{@include baseFonts(1em);}
  .font-3{@include baseFonts(1.2em);}
// mixin for colors
@mixin setBgColor($color){background-color:$color;}
// mixin for textcolors
@mixin setTextColor($color){color:$color;}

.navBg{@include setBgColor($navBackground1);}
.nav-2-Bg{@include setBgColor($navBackground2);}
.icon-color{@include setBgColor($iconColor);}
.icon-text-color{@include setTextColor($iconColor);}
// img sizes
  @mixin imgSize($imgSize) {width:$imgSize;}
  .imgSize_0{ @include imgSize(0.5em);}
  .imgSize_1{ @include imgSize(0.75em);}
  .imgSize_2{ @include imgSize(1em);}
  .imgSize_3{ @include imgSize(2em);}
  .imgSize_4{ @include imgSize(3em);}
  .imgSize_5{ @include imgSize(4em);}
// hover menu

// min width
.fit-content{ width:max-content;}

  // indicator position
  .indicator{top:50%}
  // item container position
  .item-container{
    top:-10vh;
    min-width: 100%;
  }



   // media query to apply on item container class
   @media only screen and (min-width: 992px) {
    .item-container{
      top:-20vh;
      min-width: 100%;
    }
  }





// department Page
// side filter bar 
.hover-txt-orange:hover{
  color:#c45500!important;
}

// to be checked to be deleted
.active-tab {
  color: #F3A847!important;
}

.max-content{
  max-width: fit-content;
}

.min-content{
  min-width: max-content;
}

.display-none{
  display: none;
}
.display-block{
  display: block;
}

.cursor-pointer{
  cursor: pointer;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media only screen and (min-width: 768px) {
  .height-5{height: 5vh!important;}
  .height-10{height: 10vh!important;}
  .height-20{height: 20vh!important;}
  .height-25{height: 25vh!important;}
  .height-30{height: 30vh!important;}
  .height-35{height: 35vh!important;}
  .height-40{height: 46vh!important;}
  .height-45{height: 45vh!important;}
  .height-46{height: 46vh!important;}
  .height-47{height: 47vh!important;}
  .height-48{height: 48vh!important;}
  .height-49{height: 49vh!important;}
  .height-50{height: 50vh!important;}
  .height-55{height: 55vh!important;}
  .height-60{height: 60vh!important;}
  .height-70{height: 70vh!important;}
  .height-80{height: 80vh!important;}
  .height-90{height: 90vh!important;}
  .height-100{height: 100vh!important;}
}

