<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark navBg p-0 pl-2 pr-2 nav-height">
  <!-- nav Logo -->
  <a class="navbar-brand" href="index.html">
    <img class="navbar-logo" src="../../../assets/Logo/Amazon-Emblem.jpg">
    <!-- <p class="fab fa-amazon h1 p-0 icon-text-color nav-hover "></p> -->
  </a>
  <!-- toggler button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  justify-content-around" id="navbarSupportedContent">
    <!-- list start -->
    <ul class="navbar-nav ">
      <li class="nav-item active nav-hover">
        <!-- location -->
        <a class="nav-link" href="#">
          <div class="d-flex flex-nowrap align-items-end">
            <span class="fas fa-map-marker-alt"></span>
            <div class="pl-1 pr-1 ">
              <p class=" text-white-50 font-0 fit-content font-amazon-normal">Deliver to</p>
              <p class="font-weight- font-2 font-amazon-bold"> Egypt</p>
            </div>
          </div>
        </a>
      </li>

    </ul>
    <!-- search input -->
    <form class="w-100 d-md-block d-none ">
      <div class="form-row align-items-center">
        <div class="col-auto w-100">
          <label class="sr-only" for="inlineFormInputGroup">search</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <!-- all dropdown Menu -->
              <button class="btn btn-light input-group-text dropdown-toggle text-dark font-1"
                data-toggle="dropdown">All</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <!-- search input -->
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="search">
            <!-- search icon -->
            <div class="input-group-append">
              <button class="btn btn-outline-warning input-group-text icon-color fas fa-search"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- list2 start -->
    <ul class="navbar-nav  ">
      <li class="nav-item nav-hover">
        <!-- Language -->
        <div class="dropdown pl-1 min-content">
          <div class=" dropdown-toggle text-light " id="langbtn" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../../assets/languages logos/US-United-States-Flag-icon.png" class="imgSize_3 p-1">
          </div>
          <!-- lang menu -->
          <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton ">
            <div class="container">
              <p class="dropdown-item font-amazon-normal" href="#"><span>Change Language</span>
                <span class="font-1 text-info font-amazon-normal">learn more</span>
              </p>
              <a class="dropdown-item font-amazon-normal" href="#">Another action</a>
              <a class="dropdown-item font-amazon-normal" href="#">Something else here</a>
              <!-- //  -->
              <div class="dropdown-item  custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label font-amazon-normal" for="customRadio1">English-En</label>
              </div>
              <div class="dropdown-item custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label font-amazon-normal" for="customRadio2">Arabic-Ar</label>
              </div>
            </div>
            <!-- // -->
          </div>
        </div>
      </li>
      <li class="nav-item active nav-hover">
        <!-- account and List -->
        <div id="accountList" class="dropdown nav-link min-content " href="#">
          <div class=" pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="font-amazon-normal font-0">Hello,guest</p>
            <p class="dropdown-toggle  font-amazon-bold font-1">Account & Lists</p>
          </div>
          <!-- account dropdown menu -->
          <!-- test -->
          <div id="transBg" class="side-bar-bg display-none"></div>
          <!-- test -->
          <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="dropdownMenuButton ">
            <div class="container">
              <div class="row min-content ">
                <div class="col text-left">
                  <p class="h6 font-amazon-bold px-4 py-1">Your Lists</p>
                  <ul class=" font-0 text-muted">
                    <li>
                      <a class="dropdown-item  font-amazon-normal " href="#">Shopping List</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">Create a List</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">Find a List</a>
                    </li>
                  </ul>
                </div>

                <div class="col text-center">
                  <p class="h6 font-amazon-bold">Your Account</p>
                  <ul class="text-left font-0 text-muted">
                    <li>
                      <a class="dropdown-item  font-amazon-normal" href="#">Account</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">music Libarary</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/Orders/list']">Orders</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">Browse History</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">recommendations</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" href="#">switch accounts</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/SignUp']">Sign up</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>
      <li class="nav-item active nav-hover">
        <!-- return and Order -->
        <a class="nav-link" [routerLink]="['/Orders/list']">
          <div class="pl-1">
            <p class="font-amazon-normal  font-0">Return</p>
            <p class=" font-amazon-bold font-1 min-content">& Order</p>
          </div>
        </a>
      </li>
      <li class="nav-item active nav-hover">
        <!-- cart -->
        <div class="d-flex ">
          <a href="cart.html"><span class="fas fa-shopping-cart text-light h2 "></span></a>
          <a href="cart.html" class="badge font-1 text-warning">1</a>
        </div>
      </li>
    </ul>
  </div>
</nav>



<!-- Nav Bar2 -->
<nav class="navbar navbar-expand-md navbar-dark nav-2-Bg py-0 px-2 nav-height font-amazon-normal">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- list1 start -->
    <ul class="navbar-nav justify-content-start align-items-baseline ">
      <li class="nav-item nav-hover" (click)="sendEventToHome()">
        <!-- All menus -->
        <a class="nav-link  d-flex align-items-end cursor-pointer" id="sidebtn">
          <span class="fas fa-bars h4 m-0 text-white "></span>
          <span class="font-2 px-1 text-white ">All</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">Today`s Deals</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">Customer Service</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">Buy Again</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">Gift Cards</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link " [routerLink]="'/seller/home'" routerLinkActive="active">
          <span class="text-white">Sell</span>
        </a>
      </li>
    </ul>
  </div>
</nav>