<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark navBg p-0 pl-2 pr-2 nav-height  justify-content-between text-center">
    <!-- toggler button -->
    <!-- data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
 -->
 <div class="row m-0 justify-content-start">
  <button (click)="sendEventToHome()" class="navbar-toggler" type="button" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- nav Logo -->
  <a class="navbar-brand nav-hover" [routerLink]="['/']"  >
    <img class="navbar-logo" src="../../../assets/Logo/Amazon-Emblem.png">
    <!-- <p class="fab fa-amazon h1 p-0 icon-text-color nav-hover "></p> -->
  </a>
 </div>

  <!-- small List devices cart-->
  <div class="d-md-none  justify-self-end" id="navbarSupportedContent">
    <!-- list2 start -->
    <ul class="navbar-nav  ">
      <li class="nav-item active nav-hover  m-auto">
        <!-- cart -->
        <a class="nav-link" [routerLink]="['/cart']">
        <div class="d-flex ">
          <a [routerLink]="['/cart']" ><span class="fas fa-shopping-cart text-light h2 "></span></a>
          <a [routerLink]="['/cart']" class="badge font-1 text-warning">{{user?.cart? user?.cart?.length :0}}</a>
        </div>
        </a>
      </li>
    </ul>
  </div>
      <!-- search input -->
      <form class="w-100  d-md-none">
        <div class="form-row align-items-center">
          <div class="col-auto w-100">
            <label class="sr-only" for="searchInput" >search</label>
            <div class="input-group ">
              <div class="input-group-prepend">
                <!-- all dropdown Menu -->
                <button class="btn btn-light input-group-text dropdown-toggle text-dark font-1"
                  data-toggle="dropdown">{{'homeHeader.all'|translate}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <!-- <a class="dropdown-item" [routerLink]="['/']">department</a> -->
                </div>
              </div>
              <!-- search input -->
              <input #searchRef id="searchInput"type="text"   class="form-control"  placeholder="{{'homeHeader.search'|translate}}">
              <!-- search icon -->
              <div class="input-group-append">
                <button   (click)="searchProducts(searchRef.value)" class="btn btn-outline-warning input-group-text icon-color fas fa-search"></button>
              </div>
            </div>
          </div>
        </div>
      </form>
  <!-- small list devices ends -->
  <div class="collapse navbar-collapse  justify-content-around" id="navbarSupportedContent">
    <!-- list start -->
    <ul class="navbar-nav ">
      <li class="nav-item active nav-hover">
        <!-- location -->
        <a class="nav-link" [routerLink]="['/']">
          <div class="d-flex flex-nowrap align-items-end">
            <span class="fas fa-map-marker-alt"></span>
            <div class="pl-1 pr-1 ">
              <p class=" text-white-50 font-0 fit-content font-amazon-normal">{{'homeHeader.deliver'|translate}}</p>
              <p class="font-weight- font-2 font-amazon-bold"> {{'homeHeader.country'|translate}}</p>
            </div>
          </div>
        </a>
      </li>

    </ul>
    <!-- search input -->
    <form class="w-100 d-md-block d-none ">
      <div class="form-row align-items-center">
        <div class="col-auto w-100">
          <label class="sr-only" for="search1">search</label>
          <div class="input-group ">
            <div class="input-group-prepend">
              <!-- all dropdown Menu -->
              <button class="btn btn-light input-group-text dropdown-toggle text-dark font-1"
                data-toggle="dropdown">{{'homeHeader.all'|translate}}</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="['/']">department</a>
              </div>
            </div>
            <!-- search input -->
            <input #searchRef1 type="text" class="form-control" id="search1" placeholder="{{'homeHeader.search'|translate}}">
            <!-- search icon -->
            <div class="input-group-append">
              <button (click)="searchProducts(searchRef1.value)" class="btn btn-outline-warning input-group-text icon-color fas fa-search"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- list2 start -->
    <ul class="navbar-nav  ">
      <li class="nav-item nav-hover m-auto">
        <!-- Language -->
        <div class="dropdown pl-1 min-content">
          <div class=" dropdown-toggle text-light " id="langbtn"  data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
           <a><img src="../../../assets/languages logos/US-United-States-Flag-icon.svg" class="imgSize_3 p-1"></a> 
          </div>
          <!-- lang menu -->
          <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton ">
            <div class="container ">
              <p class="dropdown-item font-amazon-normal" [routerLink]="['/']"><span>{{'homeHeader.changeLanguage'|translate}}</span>
                <span class="font-1 text-info font-amazon-normal">&nbsp;{{'homeHeader.learnMore'|translate}}</span>
              </p>
              <!-- <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">Another action</a>
              <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">Something else here</a> -->
              <!-- //  -->
              <div  data-display="static"  class="dropdown-item  custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" [checked]="lang=='en'">
                <label (click)="changeLang('en')" class="custom-control-label font-amazon-normal" for="customRadio1">{{'homeHeader.english'|translate}}</label>
              </div>
              <div #arRef  class="dropdown-item custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"[checked]="lang==='ar'">
                <label (click)="changeLang('ar')" class="custom-control-label font-amazon-normal" for="customRadio2">{{'homeHeader.arabic'|translate}}</label>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <a #safeRef (click)="onChangeLang($event,arRef)"  class="dropdown-item font-amazon-normal text-center" [routerLink]="['/']"><span class="btn btn-outline-info ">Safe</span></a>

            <!-- // -->
          </div>
        </div>
      </li>
      <li class="nav-item active nav-hover  m-auto">
        <!-- account and List -->
        <div id="accountList" class="dropdown nav-link min-content " >
          <div class=" pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <a><p class="font-amazon-normal text-left font-0">{{'homeHeader.hello'|translate}} {{user? user.name:'Guest'}}</p>
            <p class="dropdown-toggle  font-amazon-bold font-1">{{'homeHeader.accountAndLists'|translate}}</p></a> 
          </div>
          <!-- account dropdown menu -->
          <!-- test -->
          <div id="transBg" class="side-bar-bg display-none"></div>
          <!-- test -->
          <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="dropdownMenuButton ">
            <div class="container">
              <div class="row min-content ">
                <div class="col text-left">
                  <p class="h6 font-amazon-bold px-4 py-1">{{'homeHeader.yourLists'|translate}}</p>
                  <ul class=" font-0 text-muted">
                    <li>
                      <a class="dropdown-item  font-amazon-normal " [routerLink]="['/']">{{'homeHeader.shoppingList'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.createAList'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.findAList'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" *ngIf="user" [routerLink]="['/departments/payment']">{{'homeHeader.yourPayment'|translate}}</a>
                    </li>
                  </ul>
                </div>

                <div class="col text-center">
                  <p class="h6 font-amazon-bold">{{'homeHeader.yourAccount'|translate}}</p>
                  <ul class="text-left font-0 text-muted">
                    <li>
                      <a class="dropdown-item  font-amazon-normal" *ngIf="user" [routerLink]="['/']">{{'homeHeader.account'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.musicLibrary'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" *ngIf="user" [routerLink]="['/Orders/list']">{{'homeHeader.orders'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.browseHistory'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.reommendations'|translate}}</a>
                    </li>
                    <li>
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/']">{{'homeHeader.switchAccount'|translate}}</a>
                    </li>
                    <li  *ngIf="!user; else logoutRef">
                      <a class="dropdown-item font-amazon-normal" [routerLink]="['/auth/signup']">{{'homeHeader.signUp'|translate}}</a>
                    </li>
                    <ng-template  #logoutRef>
                      <a class="dropdown-item font-amazon-normal" (click)="logout()">{{'homeHeader.logOut'|translate}}</a>
                    </ng-template>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </li>
      <li class="nav-item active nav-hover m-auto">
        <!-- return and Order -->
        <a class="nav-link" [routerLink]="['/Orders/list']">
          <div class="pl-1">
            <p class="font-amazon-normal  font-0">{{'homeHeader.return'|translate}}</p>
            <p class=" font-amazon-bold font-1 min-content">{{'homeHeader.andOrder'|translate}}</p>
          </div>
        </a>
      </li>
      <li class="nav-item active nav-hover  m-auto">
        <!-- cart -->
        <a class="nav-link" [routerLink]="['/cart']">
        <div class="d-flex ">
          <a [routerLink]="['/cart']" ><span class="fas fa-shopping-cart text-light h2 "></span></a>
          <a [routerLink]="['/cart']" class="badge font-1 text-warning">{{user?.cart? user?.cart?.length :0}}</a>
        </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Nav Bar2 -->
<nav class="navbar navbar-expand-md navbar-dark nav-2-Bg py-0 px-2 nav-height font-amazon-normal">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- list1 start -->
    <ul class="navbar-nav justify-content-start align-items-baseline ">
      <li class="nav-item nav-hover" (click)="sendEventToHome()">
        <!-- All menus -->
        <a class="nav-link  d-flex align-items-end cursor-pointer" id="sidebtn">
          <span class="fas fa-bars h4 m-0 text-white "></span>
          <span class="font-2 px-1 text-white ">{{'homeHeader.all'|translate}}</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">{{'homeHeader.todaysDeals'|translate}}</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">{{'homeHeader.customerService'|translate}}</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">{{'homeHeader.buyAgain'|translate}}</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link" [routerLink]="['']">
          <span class="text-white">{{'homeHeader.giftCards'|translate}}</span>
        </a>
      </li>
      <li class="nav-item nav-hover">
        <a class="nav-link " [routerLink]="'/seller/home'" routerLinkActive="active">
          <span class="text-white">{{'homeHeader.sell'|translate}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="d-md-none" id="navbarSupportedContent">
    <!-- list1 start -->
    <ul class="navbar-nav justify-content-start align-items-baseline ">
      <li class="nav-item nav-hover">
        <a class="nav-link " [routerLink]="'/seller/home'" routerLinkActive="active">
          <span class="text-white">{{'homeHeader.sell'|translate}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>